#mod-admin .lib-wide-hd { box-shadow: 0 1px 1px rgba(255,255,255,0.4);}
.admin-menu { position: relative; margin: 52px 0 0; border-top-left-radius: 5px; border-top-right-radius: 5px; font-size: 12px; background: url(../images/admin-menu.png) 0 50px repeat;}
.admin-menu .lib-wide-hd h5 { margin: 0;}
.admin-menu a { color: #fff; text-decoration: none; text-shadow: 1px 1px 1px #333;}

.admin-menu-sch { position: relative; float: left; margin: 0; padding: 12px 0 12px 12px;}
.admin-subnav { float: right; margin: 30px 30px 0 0;}

.admin-menu-sch dt { width: 92px; overflow: visible; }
.admin-menu-sch dt a { display: block; width: 92px; height: 92px; background-color: #000; box-shadow: 1px 1px 1px #717f91; }
.admin-menu-sch dt img { width: 92px; height: 92px; }
.admin-menu-sch dd { margin-left: 115px;}

.admin-schname { margin: 35px 0 15px; font: bold 16px Microsoft YaHei; }
.admin-schmember a { margin-right: 20px;}
.admin-schmember em { padding: 0 4px; color: #c6ff00; font-family: Microsoft YaHei; }

.cnav-teacher { margin-left: 10px; color: #747474; }
.cnav-teacher a { color: #747474; }
.cnav-stu { display: inline-block; margin-top: 8px; border-radius: 2px; background-color: #c5c5c5; }
.cnav-stu span { padding: 0 15px; color: #4b4b4b; }
span.cnav-stu-r { display: inline-block; background: #676767 url(../images/bg-common.png) -2px -103px no-repeat; color: #fff; border-radius: 2px; text-shadow: 1px 1px 1px #333;}

.admin-subnav li { float: left; margin-left:18px;}
.admin-subnav li a { display: block; padding: 10px 0 12px; width: 55px; text-align: center; font: bold 14px Microsoft YaHei; border: 1px solid transparent; }
.admin-subnav li a.cur, .admin-subnav li a:hover { position: relative; border: 1px solid #1d242d; background: rgba(0,0,0,0.1); border-radius: 3px; box-shadow: 1px 1px 1px #6c7b8d, inset 1px 1px 1px #6c7b8d; }
.admin-subnav li a.cur:before, .admin-subnav li a:hover:before  { position: absolute; left: 50%; bottom: -14px; margin-left: -8px; content: ''; display:block; width: 0; height: 0; border-bottom: 8px solid #fff; border-left: 8px solid transparent; border-right: 8px solid transparent; }


.admin-subnav li i { display:block; margin: 0 auto 5px; width: 23px; height: 25px; background: url(../images/icon-nav.png) 0 -497px; }
.admin-subnav li span { position: absolute; left: -14px; top: -12px; width: 26px; height: 25px; line-height: 25px; background: url(../images/icon.png) 0 -213px; z-index: 2; text-align: center; color: #fff;}
.admin-subnav .student i { background-position: 0 -567px;  }
.admin-subnav .teacher i { background-position: 0 -637px;  }
.admin-subnav .course i { background-position: 0 -707px;  }
.admin-subnav .statistics i { background-position: 0 -777px;  }

/*.admin-subnav li:hover { background-position: -69px -132px; }
.admin-subnav li.cur { background-position: -69px -132px;}*/
#mod-admin .lib-container { padding: 20px; border-radius: 0; border-bottom-left-radius:4px; border-bottom-right-radius:4px; }
#mod-admin .tabs-right > .nav-tabs { margin: 0; border-left: none; }
#mod-admin .tabs-right > .nav-tabs > li > a { margin-bottom: 4px; padding: 0; text-align: center; min-width: 92px; height: 50px; line-height: 50px; border-radius: 0 3px 3px 0; color: #747474; border: 1px solid #a0a0a0; background-color: #f4f4f4; /*box-shadow: inset 1px 0px 5px #999;*/ }
#mod-admin .tabs-right > .nav-tabs > li > a:hover { border: 1px solid #a0a0a0; border-left: none; background-color: #fff;}
#mod-admin .tabs-right > .nav-tabs .active > a,
#mod-admin .tabs-right > .nav-tabs .active > a:hover { border-color: #a0a0a0 #a0a0a0 #a0a0a0 transparent; background-color: #fff;}
#mod-admin .tab-pane { padding: 15px 20px 20px; min-height: 350px; border: 1px solid #a0a0a0; border-radius: 3px; border-top-right-radius: 0;}
#mod-admin .admin-toolbar { position: relative; }
#mod-admin .admin-toolbar .btn-darkblue { padding: 0 24px; height: 36px; line-height: 36px; }
#mod-admin .admin-toolbar .btn-green { border: none; height: 38px; line-height: 38px; }
#mod-admin .admin-toolbar .icon-syn { background: url(../images/icon-small.png) -18px -87px;}
#mod-admin .admin-toolbar .admin-syn-tips { display: none; position: absolute; right: 58px; bottom: -52px; width: 174px; height: 47px; line-height: 47px; text-align: center; border: 1px solid #a3a3a3; border-radius: 3px; background-color: #fffde5; text-shadow: none; color: #747474; z-index: 1; box-shadow: 1px 2px 3px #999;}
#mod-admin .admin-toolbar .admin-syn-tips-show { display: block; }
#mod-admin .admin-toolbar .admin-syn-tips .arrow { display: block; position: absolute; right: 15px; top: -13px; width: 15px; height: 15px; background: url(../images/icon-small.png) -36px -36px no-repeat;}
#mod-admin .dropdown { margin-top: 2px; }
#mod-admin .dropdown h4 { width: 50px; height: 34px; line-height: 34px;}

#mod-admin .accordion-group { margin-left: 0; }
#mod-admin .admin-class-num, #mod-admin .admin-class-id { margin-right: 20px; }

#mod-admin .accordion-heading .accordion-toggle { padding: 4px 15px; border: 1px solid #a3a3a3; border-radius: 3px 3px 0 0px; }
#mod-admin .accordion-inner { padding: 0; border: 1px solid #a3a3a3; border-top: none; border-radius: 0 0 3px 3px; }
#mod-admin .accordion-inner table { margin: 0; }
#mod-admin .accordion-inner table td { padding: 6px 8px; vertical-align: middle; border-top: 1px solid #e3e3e3; color: #000; }

#mod-admin #class-name table { border: 1px solid #a3a3a3; border-radius: 3px 3px 0 0; }
#mod-admin #class-name table tr { }
#mod-admin #class-name table th { padding: 12px 8px; background: -webkit-linear-gradient(top,white,whiteSmoke,#ECECEC);  font-weight: normal; }
#mod-admin #class-name table th:first-child { width: 15%; border: none; text-align: center;}
#mod-admin #class-name table th:nth-child(2) { padding-left: 6%;}
#mod-admin #class-name table td { padding: 12px 8px; vertical-align: middle; border-top: 1px solid #e3e3e3; color: #000;  color: #747474; }
#mod-admin #class-name table td:first-child { border-left: none; text-align: center; }
#mod-admin #class-name table td:nth-child(2) { padding-left: 4%; padding-right: 2%; }
#mod-admin #class-name table .btn { float: right; padding: 0 8px; height: 18px; line-height: 18px; color: #6b6b6b; font-weight: bold; display: none; }
#mod-admin #class-name tr:hover { background: #f5f5f5; }
#mod-admin #class-name tr:hover .btn { display: block; }

.accordion-toggle .arrow-gray-right { top: 19px;}

#mod-admin .accordion-inner table tr td:first-child { width: 10%; }
#mod-admin .accordion-inner table tr td:nth-child(2) { width: 8%; }
#mod-admin .accordion-inner table tr:first-child td { border: none; }
