body,input,textarea,select,button{ font:12px/22px 'Helvetica Neue',Helvetica,Arial,Sans-serif; padding:0; margin:0; color:#747474; word-wrap:break-word}
body { background: url(../images/bg-body.png) repeat;}
em { font-style: normal; }
ul { list-style: none;}
.fL { float: left; }.fR { float: right; }
.hide { display: none;}
.clearfix:after { content: '\0020';display: block;height: 0;clear: both;font-size: 0;}
.clearb { clear: both;}

/*登录页*/
#login-body { background: url(../images/bg-login-body.png); overflow: hidden; }
#login-header { height: 50px; background: -webkit-linear-gradient(top,#363636,#1e1c1c,#060101); text-align: center;}
#login-header img { margin-top: 10px;}

#login-main {  padding-top: 60px; width: 78%;}
.login-photo { width: 57%; }
.login-box { width: 335px; height: 400px; background: url(../images/bg-login-box.png) 1px 370px no-repeat;}
.login-box-logo { text-align: center; padding-top: 15px; height: 75px;}
.login-box-main { border-radius: 4px; background-color: #fff; padding: 35px; box-shadow: 1px 1px 3px #999,-1px -1px 3px #999;}
#form-login { margin: 0;}
#form-login input.login-input { margin: 0; padding: 0; width: 100%; height: 40px; text-indent: 3em; font-size: 12px; background: #ededed url(../images/icon.png);}
#form-login input#username { border-bottom-left-radius: 0; border-bottom-right-radius: 0; background-position: -48px -344px;}
#form-login input#password { border-top: none;  border-top-left-radius: 0; border-top-right-radius: 0; box-shadow: 0 1px 1px #fff; background-position: -48px -394px; }
.login-operate { height: 60px; line-height: 60px;}
.login-operate label { height: 60px; line-height: 60px; margin: 0; }
.login-operate label input { margin-top: 0; }
.login-operate label em { font-size: 12px; cursor: pointer;}
.login-operate span { float: right; }
.login-operate span a { color: #747474; }
.login-operate i { padding: 0 5px; }

input.form-login-submit { padding: 16px 12px; width: 100%; background:#475574 -webkit-linear-gradient(top, #75819D, #616E8B, #475574); font: bold 15px Microsoft YaHei; text-shadow: 1px 1px 1px #000; color: #fff;}
input.form-login-submit:hover { background-position: 0 0; color: #fff;}


#login-footer { position: absolute; left: 0; top: 100%; margin-top: -100px; width: 100%; height: 100px; background-color: #fff; box-shadow: 0 -1px 5px #999;}
#login-footer a { display: block; text-align: center; width: 100%; height: 100%;}
#login-footer a img { margin-top: 30px;}

/*主结构*/
.lib-main { box-shadow: 0 -1px 1px #fff;}
.lib-menu { position: relative; margin: 75px 0 3px; /*height: 120px;*/ border-radius: 5px; box-shadow: 1px 1px 5px #999; background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ebebeb)); font-size: 12px; }
.lib-menu-course { position: relative; /*float: left;*/ padding-left: 22px; float: left; margin: 0; padding-top: 15px; padding-bottom: 42px; }
.lib-subnav { float: right; position: relative; top: -15px; right: 15px; border-bottom: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; border-radius: 4px; /*-webkit-background-clip:content-box; -webkit-background-origin: border;*/ box-shadow: 0 1px 1px #fff; }
.lib-container { margin-bottom: 60px; border-radius: 5px; box-shadow: 1px 1px 5px #999; background-color: #fff;}
.lib-container.row-fluid [class*="span"] { margin-left: 0; }
.lib-con { padding: 20px; border-right: 1px solid #adb2bd;}
.lib-sidebar { position: relative; padding: 35px 0 20px;}
.lib-sidebar .lib-hd-bar { margin: 0 20px; /*border-top: 1px solid #adb2bd;*/ }
.lib-wide { margin-top: 50px; }


/*公共元素*/
.lib-hd-bar { position: relative; padding: 0 20px; height: 45px; background-color: #6c829b; border-radius: 5px; color: #fff;}
.lib-hd-bar h6 { margin: 0; font: bold 14px/45px Microsoft YaHei;}
.lib-hd-bar .right { position: absolute; right: 8px; top: 9px; padding: 3px 9px; border-radius: 2px; background-color: #44515f; background-image: -webkit-linear-gradient(top,#44515f,#44515f); font-size: 12px; color: #fff; text-decoration: none;}
.lib-wide-hd { position: relative; border-top-left-radius: 4px; border-top-right-radius: 4px;  height: 50px; line-height: 50px; background: -webkit-linear-gradient(top, #59657d, #445068, #2d3850); }
.lib-wide-hd h5 { line-height: 50px; color: #fff; text-align: center; text-shadow: 1px 1px 1px #333;}
.lib-wide-hd .go-back { position: absolute; left: 10px; top: 10px; background: -webkit-linear-gradient(top, #8b96ac, #7e889e, #6d788e); color: #fff; font-size: 12px; text-shadow: none;}
.lib-wide-hd select { position: absolute; right: 10px; top: 10px; }

.lib-wide table thead { background-color: #6c829b; color: #fff}
.lib-wide table th { line-height: 24px;}
.lib-wide .dropdown {/* position: absolute; right: 0; top: 0;*/}

.block { border: 1px solid #cacaca; border-radius: 3px; }
.block-hd { padding: 0 20px; height: 38px; line-height: 38px; border-top-left-radius: 3px; background: -webkit-linear-gradient(top,#fff,#f7f7f7,#eee); border-bottom: 1px solid #cacaca;}
.block-bd { padding: 20px; background-color: #fff;}


.lib-sb-ring { position: absolute; /*left: -15px;*/ left: 0; top: -22px; width: 100%; height: 40px; background: url(../images/bg-ring.png) repeat-x; }
.lib-line-l { border-top: 1px solid #adb2bd; height:0; margin: 25px 0; }
/*按钮 Default: padding: 4px 12px; */
.btn-darkblue { height: 40px; line-height: 40px; border: 1px solid #747474; box-shadow: inset 0 1px 1px rgba(255,255,255,0.4); background: -webkit-linear-gradient(top, #75819D, #616E8B, #475574); color: #fff; font-size: 12px; text-shadow: 1px 1px 1px #333; }
.btn-darkblue:hover { background-position: 0 0; color: #fff; }

.btn-submod { position: relative; padding: 22px 0; width: 100%; border: 1px solid #b6b6b6; color: #fff; text-shadow: none; font-size: 15px; font-family: Microsoft YaHei; text-indent: 2em; color: #747474;}
.btn-submod:hover { color: #fff; background-position: 0 0; color: #747474; }
.btn-submod.active { background: -webkit-linear-gradient(top,#8eb03d,#779634,#5c782a); color: #fff; box-shadow: none;}
i.icon-btn-submod { background: url(../images/icon.png) -138px -308px no-repeat; width: 20px; height: 20px; position: absolute; top: 30px; left: 30%; top: 50%; margin-top: -10px;}


i.btn-icon { display: inline-block; position: relative; top: 8px; width: 20px; margin-right: 15px; height: 20px; background: url(../images/icon-small.png) no-repeat; cursor: pointer;}
i.btn-icon:hover { opacity: 0.7;}

/*icon*/
[class^="icon-"], [class*=" icon-"] { width: 18px; height: 18px; line-height: 18px; margin: -1px 8px 0 0; }
.icon-duration { background: url(../images/icon-small.png) 0 -36px;}


/*顶部*/
#header { padding-top: 53px; /*height: 51px;*/ background: url(../images/bg-header.png) repeat; /*overflow: hidden;*/}
#logo { width: 250px; height: 30px; padding-top: 10px; font: italic bold 20px Microsoft YaHei; color: #fff; overflow: hidden; }
#logo img { margin-right: 15px;}
#nav { margin: 0;}
#nav li { float: left; width: 190px; height: 51px;text-align: center; background: url(../images/bg-common.png) no-repeat; }
#nav li.cur { background-position: 0 -51px; z-index: 2; position: relative;}
#nav li:first-child { position: relative; right: -30px; }
#nav a { display: block; font: bold 14px/51px Microsoft YaHei; color: #fff; text-decoration: none; text-shadow: 1px 1px 1px #333;}
#header .navbar-search { position: relative; /*height: 40px;*/ margin: 0; /*width: 160px; width: 16%;*/ width: -webkit-calc(100% - 782px);}
#header .navbar-search input { /*width: 80%;*/}
#header .search-query { padding: 0; height: 38px; border: none; background-color: #1a1a1a; border-radius: 5px; color: #fff; box-shadow:0 1px 1px #131212 inset,0 1px 1px #3d3d3d; color: #a3a3a3; }
#header .navbar-search .btn { position: absolute; right: 4px; top: 2px; width: 34px; height: 34px; background: #2b2b2b url(../images/icon.png) -62px -97px no-repeat;}

/*头部下拉*/
#header .dropdown-menu:after { content: ''; display: inline-block; border-left: 11px solid transparent; border-right: 11px solid transparent; border-bottom: 11px solid #000; position: absolute; top: -11px; left: 68px;}
#header .dropdown-menu { left: -60px; top: 50px; padding: 4px; background-color: #060001;}
#header .dropdown-menu li { background-color: #fff; height: 34px; line-height: 28px; }
#header .dropdown-menu li:first-child { border-top-left-radius: 2px; border-top-right-radius: 2px;  }
#header .dropdown-menu li:last-child { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;  }
#header .dropdown-menu li a {/*line-height: 34px; */ margin-left: 28px; height: 28px; line-height: 28px; color: #747474; font-size: 12px; }
#header .dropdown-menu li a:hover { background: none;}
#header li.divider { margin: 0; height: 0; border-top: 1px solid #b0b0b0; background-color: #b0b0b0;}
/*消息*/
.message { /*margin: 10px 0 0 15px;*/ margin: 0 20px 0 20px; }
.message-box { display: none; position: absolute; left: 8px; top: 40px; }
.message-box ul { margin: 0; padding:0; padding: 4px; border-radius: 5px; box-shadow: 0 4px 8px #666; background-color: #ebe8ba; background-image: -webkit-linear-gradient(top, #dfdeac, #ebe8ba, #dfdeac); }
.message-box li { position: relative; padding: 0 50px 0 10px; border-top: 1px solid #c9c493; height: 26px; line-height: 26px; }
.message-box li:first-child { border: none; }
.message-box li span { display: none; position: absolute; right: 6px; top: 5px; width: 16px; height: 16px; background: url(../images/icon.png) -142px -107px; cursor: pointer;}
.message-box li span:hover {background: url(../images/icon.png) -160px -107px;}
.message-box li:hover { border-radius: 2px; background-color: #c9c493; }
.message-box li:hover span { display: block; }
.message-box a { display: block; font-size: 12px; color: #673a00; text-decoration: none; }
.message-box a em { padding-right: 5px; color: #b86400; }
.message-box a:hover { }
.message-arrow { position: absolute; top:-8px; left:15px; border-bottom:8px solid #f8f2c8; border-right:8px solid transparent;}


.envelope { display: inline-block; margin: 9px 0 0 6px; width: 28px; height: 20px; background: url(../images/icon.png) -1px -103px;}
.wrap-envelope { display: block;  width: 38px; height: 38px; }
.wrap-envelope:hover { background: url(../images/icon.png) -1px -143px; }
.message.open .wrap-envelope { background: url(../images/icon.png) -72px -143px; }

.be-message .wrap-envelope { /*display: inline;*/ }
.be-message .envelope { background-position: -106px -107px;}
.be-message .message-box { display: block; }
/*topNavProfile*/
.top-nav-profile.btn-group { font-size: 12px; }
.top-nav-profile.open .dropdown-toggle { box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05)}
.tnav-profile-a { display: block; height: 40px; }
.tnav-profile-a:hover { text-decoration: none; }
.tnav-profile-a span { color: #fff;}
.tnav-profile-a img { margin-left: 10px; background: url(../images/icon.png) -72px -143px;  }

#header .top-nav-profile .dropdown-menu { left: none; right: 0;}
#header .top-nav-profile .dropdown-menu:after { }

#footer { background: url(../images/footer.png) repeat; }
#footer .footer-inner { width: 45%; margin: 28px auto 26px; }
#footer a { float: left; margin: 4px 30px 0 0; }
#footer .reserved { display: table-cell; }
#footer p { color: #fff; text-shadow: 1px 1px 1px #333; margin: 0; }

/*子导航*/
.lib-menu-course dt { position: absolute; top: -22px; width: 90px; }
.lib-menu-course dt img { display: block; padding: 4px; border: 1px solid #a3a3a3; background-color: #fff; box-shadow: 1px 1px 5px #999; width: 76px; height: 109px; }
.lib-menu-course dd { margin-left: 115px; line-height: 28px; }

.lib-menu a:hover { text-decoration: none;}
.cnav-cname { font: bold 16px Microsoft YaHei; color: #000; text-shadow: 1px 1px 1px #ccc;}
.cnav-teacher { margin-left: 10px; color: #747474; }
.cnav-teacher a { color: #747474; }
.cnav-stu { display: inline-block; margin-top: 8px; border-radius: 2px; background-color: #c5c5c5; }
.cnav-stu span { padding: 0 15px; color: #4b4b4b; }
span.cnav-stu-r { display: inline-block; background: #676767 url(../images/bg-common.png) -2px -103px no-repeat; color: #fff; border-radius: 2px; text-shadow: 1px 1px 1px #333;}

.lib-subnav li { float: left; position: relative; height: 92px; border-left: 1px solid #d8d8d8; background: url(../images/bg-common.png) 0 -132px;  }
.lib-subnav li a { display: block; padding-top: 50px; width: 69px; height: 42px; text-align: center; font: bold 14px Microsoft YaHei; color: #747474; background: url(../images/icon.png) 0 5px;  }

.lib-subnav li span { position: absolute; left: -14px; top: -12px; width: 26px; height: 25px; line-height: 25px; background: url(../images/icon.png) 0 -213px; z-index: 2; text-align: center; color: #fff;}
.lib-subnav .question a { background-position: -70px 5px;  }
.lib-subnav .task a { background-position: -140px 5px;  }
.lib-subnav .video a { background-position: -210px 5px;  }
.lib-subnav .note a { background-position: -280px 5px;  }
.lib-subnav .statistics a { background-position: -350px 5px;  }

.lib-subnav li:hover { background-position: -69px -132px; }
.lib-subnav li.cur { background-position: -69px -132px;}

/*进度条*/
.wrap-progress { margin-bottom: 10px; padding: 4px; height: 16px; background-color: #fdfdfd; border: 1px solid #d2d2d2; border-radius: 10px; box-shadow: inset 1px 2px 1px #dddede,1px 1px 2px #ccc;}
.progress { position: relative; height: 16px; background-color: #b1b1b1; background-image:-webkit-linear-gradient(top, #919191, #b1b1b1, #919191);  border-radius: 10px; overflow: visible;}
.progress .bar { position: absolute; top: -1px; left:0; height: 17px; line-height: 17px; background-image:-webkit-linear-gradient(top, #8eaed3, #7d98b7, #8eaed3); border-radius: 10px; box-shadow: 1px 1px 1px #999;text-shadow: 1px 1px 1px #333; word-wrap: normal;}
/*html5进度条*/
.uploading { height: 42px; line-height: 34px; }
.progress-h5 { position: relative; width: 240px; height: 17px; display: inline-block;}
.progress-h5 progress { width: 240px; height: 17px; line-height: 17px; }
.progress-h5 span { position: absolute; top: -2px; color: #fafafa; text-shadow: 1px 1px 1px #999;}
.local-address { position: relative; left: 20px; top: 2px; }
.local-address em { margin-right: 10px; }

.uploaded  { height: 42px; line-height: 42px; }
.uploaded .local-address { left: 0; }

.upload-update { position: relative; left: 5px; top: 2px; cursor: pointer; color: #425c90;}
/*课程评分*/
.course-rating ul { margin: 0; height: 20px; }
.course-rating li { display: inline-block; margin: 0 2px; width: 18px; height: 18px; background: url(../images/icon.png) -460px 0 no-repeat; text-align: center;}
.course-rating li:first-child { margin-left: 0;}
.course-rating a { display: block; width: 18px; height: 18px; cursor: default;}
.course-rating .rating-one { background: url(../images/icon.png) -460px -18px no-repeat;}
.course-rating .rating-half { background: url(../images/icon.png) -460px -36px no-repeat;}

/*评论框*/
.comment-box { border-top: 1px solid #a6a6a6; background-color: #d7dbe4; box-shadow: inset 0 1px 2px #999}
.comment-box .input-form { display: -webkit-box; margin: 0; padding: 2%; border-bottom: 1px solid #b8bcc4; box-shadow: 0 1px 1px #fff;}
.comment-box .input-xlarge { display: block; -webkit-box-flex:1; height: 30px; padding-top: 8px;/*line-height: 40px;*/ border: 1px solid #a9a9a9; box-shadow: inset 1px 1px 2px #bbb; border-radius: 4px; /*border: none; border-bottom: 1px solid #fff;*/ /*resize: none;*/ padding:0;}
.comment-box textarea.input-xlarge { padding-top: 8px; }
.comment-box .input-form .btn { margin-left: 15px; padding: 10px 30px; background-color: #475574; background-image: -webkit-linear-gradient(top, #75819d, #616e8b, #475574); font: 12px Microsoft YaHei; color: #fff;}

.comment-list { margin: 0; padding: 2%; border-radius: 5px; }
.comment-list>li { display: -webkit-box; margin-top: 32px;}
.comment-list>li:first-child { margin-top: 0;}
.comment-list a { color: #195695; font-weight: bold;}
.comment-avatar { /*float: left;*/ margin-right: 20px;}
.comment-con { /*display: table-cell;*/position: relative; -webkit-box-flex:1; margin: 0; /*padding: 0 1.5%;*/ border: 1px solid #b0b1b3; border-radius: 5px; background-color: #fff; /*box-shadow: 1px 1px 2px #999; */ box-shadow: 1px 1px 2px #BBB;}

.comment-arrow { display: block; position: absolute; top: 14px; left: -19px; width: 19px; height: 20px; background: url(../images/icon-feeds.png) -170px 0;}
.comment-con dd { margin: 0; }
.comment-con-hd { position: relative; height: 34px; line-height: 34px; border-bottom: 1px solid #d3d3d3; padding: 0 1.5%; }
.comment-con-bd { display: -webkit-box; padding: 10px 0; display: block; }
.comment-con p { margin: 0 0 10px; text-indent: 2em; padding: 0 1.5%;}
.comment-time { float: right; padding-left: 25px; }
.comment-con > .comment-con-bd { padding: 10px 0 0;}


.lib-main .pagination { height: 24px;}
.lib-main .pagination ul { float: left; box-shadow: none;}
.lib-main .pagination a { background: none; border: none; padding: 2px 9px;}
.lib-main .pagination li:first-child a { /*padding-left: 0;*/}
.lib-main .pagination form { margin: 0; display: inline-block; height: 30px; }
.lib-main .pagination form .input-mini { margin: 0; padding: 0 10px; width: 20px;}
.lib-main .pagination form .btn { margin: 0; height: 20px; line-height: 20px; padding: 0 5px; background-color: #475574; background-image: -webkit-linear-gradient(top, #75819d, #616e8b, #475574); color: #fff; font-size: 10px; border: none; }
.lib-main .pagination ul > li > a:hover, .lib-main .pagination ul > .active > a, .lib-main .pagination ul > .active > span { background-color: #9fa5b2; color: #fff; }

.comment-box a.comment-fold { float: right; margin-right: 10px; padding-right: 22px; color: #4e5d7b; background: url(../images/icon-feeds.png) -143px -70px; font-weight: normal; }
.comment-fold:hover { background-position: -139px -105px;}
/*遮罩弹层*/
.modal { border: 7px solid #64728e; border-radius: 5px; }
.modal-header { position: relative; padding: 0 15px; height: 52px; border-bottom: 1px solid #c2c2c2; background-color:#e5e5e5; background-image: -webkit-linear-gradient(top, #fff, #f1f1f1, #e5e5e5);}
.modal-header h3 { line-height: 52px; font-size: 14px; }
.modal-header .close { position: absolute; right: -19px; top: -19px; width: 38px; height: 38px; background: url(../images/icon.png) -142px -142px no-repeat; opacity: 1;}
.modal-header .close:hover { opacity: 0.6;}
/*表单*/
form { margin: 0; padding: 0; }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { width: 100%; text-indent:1em; margin: 0; padding: 10px 0; font-size: 12px; }
span.help-inline { color: #747474; height: 24px;}
/*课程大纲手风琴*/
.accordion-group { margin: 0 0 15px 25px; border: none;}
.accordion-heading .accordion-toggle { height: 38px; line-height: 38px; background: -webkit-linear-gradient(top,#fff,#f5f5f5,#ececec); border: 1px solid #d0d0d0; border-radius: 4px; color: #606060; text-decoration: none; font-family: Microsoft YaHei; position: relative;}

.accordion-toggle .arrow-gray-right { position: absolute; right: 22px; top:22px; display: block; width: 12px; height: 10px; background: url(../images/icon.png) -16px -461px no-repeat;}
.accordion-toggle.collapsed .arrow-gray-right { width: 6px; background-position: 0 -461px; }
.accordion-inner { border: none; padding: 9px 0 9px 15px; }

.have-data .accordion-heading .accordion-toggle { background: -webkit-linear-gradient(top, #75829d, #5f6c89, #475574); color: #fff; }
.have-data .accordion-heading .accordion-toggle .arrow-gray-right { background: url(../images/icon.png) -16px -479px no-repeat; }
.have-data .accordion-heading .accordion-toggle.collapsed .arrow-gray-right { background: url(../images/icon.png) 0 -479px no-repeat; }
.have-data .accordion-inner { border: 1px solid #bdbdbd; border-top: none; position: relative; top: -2px; width: 96%; margin: 0 auto; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;  padding: 0;}
.accordion-group .accordion-group .accordion-heading .accordion-toggle { height: 32px; line-height: 32px;}
/*课程大纲资料*/

.cdetail-data-list { margin: 0; padding: 0 0 10px; border-top: none; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;}
.cdetail-data-list.all { border-radius: 0;}
.cdetail-data-list li { position: relative; float: left; margin: 10px 10px 0; padding-left: 52px; width: 150px; height: 42px; background: url(../images/icon.png) no-repeat; cursor: pointer;}
.cdetail-data-list p { margin: 0; height: 20px; overflow: hidden;}
li.cview-res-video { background-position: -454px -106px; }
li.cview-res-video:hover { background-position: -454px -159px; }
li.cview-res-text{ background-position: -454px -213px; }
li.cview-res-text:hover { background-position: -454px -266px; }
li.cview-res-ppt{ background-position: -454px -319px; }
li.cview-res-ppt:hover { background-position: -454px -372px; }
li.cview-res-pdf{ background-position: -454px -426px; }
li.cview-res-pdf:hover { background-position: -454px -479px; }
.cdetail-data-list li span { display: none; position: absolute; right:0; top: 0; width: 34px; height: 18px; line-height: 18px; background-color: #6C829B; color: #fff; text-align: center; }
.cdetail-data-list li:hover span { display: block;}



.cdetail-data-list { /*display: inline-block; position: relative; width: 1100px; height: 225px;*/ position: absolute; left: 0; top: 0; width: 100%; background-color: #fff;}
.cdetail-data-list:nth-last-child(1) { z-index: 1;}
.cdetail-data-list:nth-last-child(2) { z-index: 2;}
.cdetail-data-list:nth-last-child(3) { z-index: 3;}
.cdetail-data-list:nth-last-child(4) { z-index: 4;}
.cdetail-data-list:nth-last-child(5) { z-index: 5;}


.dthumb { margin: 10px 0 0; height: 50px; line-height: 50px; text-align: center; border-top: 1px solid #e3e3e3; background-image: -webkit-linear-gradient(top,#fff,#f6f6f6,#ececec);}
.dthumb li { display: inline-block; margin: 0 3px; width: 15px; height: 10px;}
.dthumb span { cursor: pointer; display: block; width: 11px; height: 11px; background-color: #adadad; -webkit-border-radius: 40px; border-radius: 40px; background: -webkit-linear-gradient(#a9a9a9, #adadad); box-shadow: inset 0 1px 1px #666;}
.dthumb span:hover, .dthumb span.cur{ background: #567ba5; background: -webkit-linear-gradient(#7f93bd, #7185ad, #62759c); box-shadow: inset 0 1px 1px #666; }

/*主内容区tab*/
.lib-con .lib-hd-bar { padding-left: 8px;}
.lib-con .nav-tabs { margin: 0; padding-left: 0; height: 40px; background-color: #6c829b; border: none;}
.lib-con .nav-tabs li { position: relative; top: 8px; }
.lib-con .nav-tabs a { color: #d5e0ec; padding: 8px 30px;}
.lib-con .nav-tabs a:hover { background: #fff; border-bottom: 1px solid #fff; color: #5F5F5F;}
.lib-con .nav-tabs > .active > a,.cdetail-intro .nav-tabs > .active > a:hover { color: #5f5f5f;}
.lib-con .tab-content { overflow: visible;}
.lib-con .tab-pane { padding: 18px 0;}
.lib-con .accordion-group { margin-left: 0;}
/*主内容区表单*/
.lib-container .form-horizontal { /*padding-left: 10px;*/}
.lib-container .form-horizontal .control-label { width: 75px; height: 30px; line-height: 30px; text-align: left; font-size: 12px; }
.lib-container .form-horizontal .controls { margin-left: 75px; }
.lib-container .input-xlarge { margin: 0; padding: 0; width: 100%; border: 1px solid #a9a9a9;}
.lib-container input.input-xlarge { height: 40px; /*line-height: 40px;*/}
.lib-container textarea.input-xlarge { height: 120px;}
.lib-container button.btn { margin-left: 75px; padding: 9px 28px; background-color: #475574; background-image: -webkit-linear-gradient(top, #75819d, #616e8b, #475574); font-size: 12px; color: #fff; text-shadow: none;}

.cedit-course-pic  { width: 150px; border: 2px solid #333; background-color: #464646; vertical-align: middle; text-align: center; display: table-cell;}

.type-file-box{ position:relative; margin-left: 25px; width:100px; cursor: pointer;}
input.type-file-file{ position: absolute; top: 10px; left: 35px; opacity: 1; width: auto; height: auto; z-index: 1; }
.btn.type-file-button { padding: 10px 12px; font-size: 12px; color: #747474; position: relative; z-index:2;}
.modal .btn.type-file-button { padding: 10px 12px; }
/*select美化*/
.dropdown {outline:none;display:inline-block;*display:inline;}
.dropdown h4{cursor:default; text-indent:20px; margin:0; padding:0;}
.dropdown * {-moz-user-select:none;}
.dropdown h4.over {}
.dropdown div {display:block; /*fix bug*/}
.dropdown ul{position:absolute;display:none;margin:0;padding:0;float:left;clear:both; z-index: 999;}
.dropdown ul li{text-indent:5px;margin:0;padding:0;list-style:none;display:block;cursor:default;}
.dropdown ul li.over{}
.dropselectbox {display:inline;}
/* write you style here */
.dropselectbox {/*background:#DDD url(../images/selectBg.png) repeat-x left top;*/}
.dropdown h4{height:38px; font:12px/38px Arial, Helvetica, sans-serif; border:solid 1px #aeaeae; background: #fff url(../images/droparrow.gif) no-repeat 198px center; border-radius: 4px; cursor: pointer;}
.dropdown h4.over{border-color:#369; background-image:url(../images/droparrowover.gif);}
.dropdown h4.current{border-color:#003;}
.dropdown ul{border:1px solid #AAA; background:#FFF;}
.dropdown ul li{background:#FFF;height:28px;font:400 12px/28px Arial, Helvetica, sans-serif; text-indent: 20px;}
.dropdown ul li.over{background:#369; color:#FFF;}


.redactor_box{ -webkit-box-flex:1;}
/*添加资料弹层*/
#modal-add-data { width: 760px; margin:-250px 0 0 -380px}
#modal-add-data form { margin-bottom: 20px; }
#modal-add-data .modal-body { padding: 0; max-height: 470px; background: none; }
#modal-add-data .modal-adddata-tabs { padding: 15px 15px 0; }
#modal-add-data .modal-adddata-tabs .nav-tabs { float: left;  margin: 0; border: none;}
#modal-add-data .modal-adddata-tabs .nav-tabs > li { position: relative; margin-right: 25px; width: 42px; height: 80px; text-align: center;}
#modal-add-data .nav-tabs > li > a { display: block; margin: 0; padding:0; border: none; background: none; color: #747474;}
#modal-add-data .modal-adddata-tabs .nav-tabs > li.active > a { font-weight: bold; }
#modal-add-data .modal-adddata-tabs .nav-tabs > li .icon { display: block; height: 45px; background: url(../images/icon.png) no-repeat;  }
#modal-add-data .modal-adddata-tabs .nav-tabs > li:before { display: none; content: ''; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #d7dbe3; position: absolute; bottom: 0; left: 12px; }
#modal-add-data .modal-adddata-tabs .nav-tabs > li.active:before { display: block;}
#modal-add-data .modal-adddata-tabs .nav-tabs .video .icon { background-position:-454px -106px;}
#modal-add-data .modal-adddata-tabs .nav-tabs .text .icon { background-position:-454px -213px;}
#modal-add-data .modal-adddata-tabs .nav-tabs .ppt .icon { background-position:-454px -319px;}
#modal-add-data .modal-adddata-tabs .nav-tabs .pdf .icon { background-position:-454px -426px;}
#modal-add-data .modal-adddata-tabs .nav-tabs .video:hover .icon { background-position:-454px -159px;}
#modal-add-data .modal-adddata-tabs .nav-tabs .text:hover .icon { background-position:-454px -266px;}
#modal-add-data .modal-adddata-tabs .nav-tabs .ppt:hover .icon { background-position:-454px -372px;}
#modal-add-data .modal-adddata-tabs .nav-tabs .pdf:hover .icon { background-position:-454px -479px;}
#modal-add-data .btn-storage { padding: 10px 30px; font-size: 12px; color: #747474; }
#modal-add-data .icon-storage { position: relative; left: -4px; top: -1px; width: 14px; height: 17px; background: url(../images/icon.png) -425px -408px no-repeat;}
#modal-add-data .tab-content { background-color: #d7dbe3; padding: 15px 15px 0;}
#modal-add-data .input-xlarge { /*width: 100%; text-indent: 1em;*/}
#modal-add-data label { display: inline-block; margin: 0; padding-top: 0; padding-right: 25px; font-size: 12px; cursor: pointer;}
#modal-add-data .type-file-box { margin: 0;}
#modal-add-data textarea.input-xlarge { padding: 5px 0; width: 100%; height: 170px; }
#modal-add-data input[type="submit"].btn { padding: 10px 0; width: 100%; font-size: 12px; color: #fff; background: -webkit-linear-gradient(top, #75819D, #616E8B, #475574) ;}
#modal-add-data .control-group { margin-bottom: 15px;}
#modal-add-data .controls { margin: 0;}

#modal-adddata-video .controls { overflow: hidden; }
#modal-adddata-video li { margin-right: 30px; }
#modal-adddata-video li .icon-adddata-circle { position: relative; top: -3px; margin-right: 5px; width: 20px; height: 20px; border-radius: 10px; background-color: #fff; box-shadow: 1px 1px 5px #999;}
#modal-adddata-video li.active .icon-adddata-circle { border: 5px solid #fff; width: 10px; height: 10px; background: -webkit-linear-gradient(top, #75819D, #616E8B, #475574); box-shadow: 1px 1px 5px #999;}
#modal-adddata-video .tab-content { padding: 0;}
#modal-adddata-video .input-xlarge { /*width: 99%;*/ margin: 0; padding: 10px 0; font-size: 12px;}
#modal-adddata-video #nonlocal .control-group { margin: 0;}

#modal-adddata-text .input-xlarge { /* margin: 0; padding: 10px 0; font-size: 12px;*/}
#modal-adddata-text textarea.input-xlarge { height: 213px; }
#modal-adddata-ppt .input-xlarge { /*width: 99%;*/ margin: 0; padding: 10px 0; font-size: 12px;}
#modal-adddata-ppt textarea.input-xlarge { height: 213px; }
#modal-adddata-pdf .input-xlarge { /*width: 99%;*/ margin: 0; padding: 10px 0; font-size: 12px;}
#modal-adddata-pdf textarea.input-xlarge { height: 213px; }
#modal-add-data .wrap-progress { width: 40%;}
/*资料预览弹层*/
#modal-preview-data {}
#modal-preview-data .close { position: absolute; right: -19px; top: -19px; width: 38px; height: 38px; background: url(../images/icon.png) -142px -142px no-repeat; opacity: 1;}
#modal-preview-data .close:hover { opacity: 0.6;}
#modal-preview-data .modal-body { padding: 5px;}
