/*
 lineColor: #adb2bd
 fontColor: #747474
 fontColor2: #a5a5a5
 *
 barColor:	#6c829b 
 subBarColor:	#6c829b 
 *
 */
body,input,textarea,select,button{ font:12px/22px 'Helvetica Neue',Helvetica,Arial,Sans-serif; padding:0; margin:0; color:#747474; word-wrap:break-word}
em { font-style: normal; }
ul { list-style: none;}
.fL { float: left; }.fR { float: right; }
.hide { display: none;}
.clearfix:after { content: '\0020';display: block;height: 0;clear: both;font-size: 0;}

#header { padding-top: 53px; /*height: 51px;*/ background: url(../img/bg-header.png) repeat; /*overflow: hidden;*/}

<<<<<<< HEAD
#logo { width: 250px; height: 30px; padding-top: 10px; font: italic bold 20px Microsoft YaHei; color: #fff; overflow: hidden; }
=======
#logo { width: 245px; height: 30px; padding-top: 10px; font: italic bold 20px Microsoft YaHei; color: #fff; overflow: hidden; }
>>>>>>> 353eb7993646f3f951bd95330a628c8562e9e743
#logo img { margin-right: 15px;}

#nav { margin: 0;}
#nav li { float: left; width: 190px; height: 51px;text-align: center; background: url(../img/bg-common.png) no-repeat; }
#nav li.cur { background-position: 0 -51px; z-index: 2; position: relative;}
#nav li:first-child { position: relative; right: -30px; }
#nav a { display: block; font: bold 14px/51px Microsoft YaHei; color: #fff; text-decoration: none; text-shadow: 1px 1px 1px #333;}

#header .navbar-search { position: relative; /*height: 40px;*/ margin: 0; width: 20%; min-width: 140px;  }
#header .navbar-search input { width: 80%;}
#header .search-query { height: 30px; border: none; background-color: #1a1a1a; border-radius: 5px; color: #fff; box-shadow:0 1px 1px #131212 inset,0 1px 1px #3d3d3d; color: #a3a3a3; }
#header .navbar-search .btn { position: absolute; right: 9%; top: 2px; width: 34px; height: 34px; background: #2b2b2b url(../img/icon.png) -62px -97px no-repeat;}

/*头部下拉*/
#header .dropdown-menu:after { content: ''; display: inline-block; border-left: 11px solid transparent; border-right: 11px solid transparent; border-bottom: 11px solid #000; position: absolute; top: -11px; left: 68px;}
#header .dropdown-menu { left: -60px; top: 50px; padding: 4px; background-color: #060001;}
#header .dropdown-menu li { background-color: #fff; height: 34px; line-height: 28px; }
#header .dropdown-menu li:first-child { border-top-left-radius: 2px; border-top-right-radius: 2px;  }
#header .dropdown-menu li:last-child { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;  }
#header .dropdown-menu li a {/*line-height: 34px; */ margin-left: 28px; height: 28px; line-height: 28px; color: #747474; font-size: 12px; }
#header .dropdown-menu li a:hover { background: none;}
#header li.divider { margin: 0; height: 0; border-top: 1px solid #b0b0b0; background-color: #b0b0b0;}
/*消息*/
.message { /*margin: 10px 0 0 15px;*/ margin: 0 20px 0 20px; }
.message-box { display: none; position: absolute; left: 8px; top: 40px; }
.message-box ul { margin: 0; padding:0; padding: 4px; border-radius: 5px; box-shadow: 0 4px 8px #666; background-color: #ebe8ba; background-image: -webkit-linear-gradient(top, #dfdeac, #ebe8ba, #dfdeac); }
.message-box li { position: relative; padding: 0 50px 0 10px; border-top: 1px solid #c9c493; height: 26px; line-height: 26px; }
.message-box li:first-child { border: none; }
.message-box li span { display: none; position: absolute; right: 6px; top: 5px; width: 16px; height: 16px; background: url(../img/icon.png) -142px -107px; cursor: pointer;}
.message-box li span:hover {background: url(../img/icon.png) -160px -107px;}
.message-box li:hover { border-radius: 2px; background-color: #c9c493; }
.message-box li:hover span { display: block; }
.message-box a { display: block; font-size: 12px; color: #673a00; text-decoration: none; }
.message-box a em { padding-right: 5px; color: #b86400; }
.message-box a:hover { }
.message-arrow { position: absolute; top:-8px; left:15px; border-bottom:8px solid #f8f2c8; border-right:8px solid transparent;}


.envelope { display: inline-block; margin: 9px 0 0 6px; width: 28px; height: 20px; background: url(../img/icon.png) -1px -103px;}
.wrap-envelope { display: block;  width: 38px; height: 38px; }
.wrap-envelope:hover { background: url(../img/icon.png) -1px -143px; }
.message.open .wrap-envelope { background: url(../img/icon.png) -72px -143px; }

.be-message .wrap-envelope { /*display: inline;*/ }
.be-message .envelope { background-position: -106px -107px;}
.be-message .message-box { display: block; }
/*topNavProfile*/
.top-nav-profile.btn-group { font-size: 12px; }
.top-nav-profile.open .dropdown-toggle { box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05)}
.tnav-profile-a { display: block; height: 40px; }
.tnav-profile-a:hover { text-decoration: none; }
.tnav-profile-a span { color: #fff;}
.tnav-profile-a img { margin-left: 10px; background: url(../img/icon.png) -72px -143px;  }

#header .top-nav-profile .dropdown-menu { left: none; right: 0;}
#header .top-nav-profile .dropdown-menu:after { }

.lib-main { box-shadow: 0 -1px 1px #fff;}
#footer { height: 50px; }

/*公共块*/
.lib-hd-bar { position: relative; padding: 0 20px; height: 45px; background-color: #6c829b; border-radius: 5px; color: #fff;}
.lib-hd-bar h6 { margin: 0; font: bold 14px/45px Microsoft YaHei;}
.lib-hd-bar .right { position: absolute; right: 20px; top: 0; margin-top: 10px; padding: 3px 9px; border-radius: 2px; background-color: #44515f; font-size: 12px; color: #fff; text-decoration: none;}

.lib-line-l { border-top: 1px solid #adb2bd; height:0; margin: 25px 0; }
