.course-outline { /*margin-right: -30px;*/ padding: 20px; border-right: 1px solid #adb2bd;}
.course-outline .dl-horizontal { margin: 0; }
.course-outline .dl-horizontal dt { position: relative; width: auto; font-weight: normal; text-indent: 50px; overflow: visible; display: inline-block; }
.course-outline .dl-horizontal dt span { position: absolute; right:-39px; top: 14px; width: 12px; height: 12px; background: url(../images/icon.png) right top no-repeat;}
.course-outline .dl-horizontal dd { position: relative; margin-left: 130px; padding-left: 20px; }
.course-outline .dl-horizontal dd:hover { /*height: 28px; line-height: 28px; margin-top: 5px;*/ }
.course-outline .dl-horizontal dd a { display: block; margin-left: -15px; padding-left: 15px; width: 77%; color: #747474; text-decoration: none; }
.course-outline .dl-horizontal dd a:hover { background-color: #e2e6eb; border-radius:5px; }
.course-outline .dl-horizontal dd a em { position: relative;}
.course-outline .dl-horizontal dd span { position: absolute; right: -10px; top: 0; width: 7px; height: 7px; background: url(../images/icon.png) right -18px; }

.chapter { margin: 0; padding: 0 20px; background: url(../images/bg-chapter.png) 5px -25px no-repeat; color: #747474; font-size: 12px; }
.chapter:first-child { padding-top: 25px; background-position: 5px 0; }
.chapter ul.unstyled { margin: 0; }
.chapter-label { display: inline-block; width: 150px; font-size: 12px;}
.chapter-label em { margin-right: 37px; color: #4f4f4f;}
.section-name .chapter-label { position: relative; text-indent: 50px; }
.section-name .chapter-label span { position: absolute; left:104px; top: 14px; width: 12px; height: 12px; background: url(../images/icon.png) right top no-repeat;}

.chapter-name, .section-name, .course-outline .dl-horizontal dt, .course-outline .dl-horizontal dd {height: 37px; line-height: 37px;}
.chapter-name { margin: 0; }
.chapter-name .chapter-label { color: #fff;} 

.section-name a { display: inline-block; margin-left: -15px; padding-left: 15px; width: 60%; color: #747474; text-decoration: none; }
.section-name a:hover { background-color: #e2e6eb; border-radius:5px; }
.section-name a em { position: relative;}
.section-name a em span { position: absolute; right: -10px; top: 0; width: 7px; height: 7px; background: url(../images/icon.png) right -18px; }
/*.section-name a { display: inline-block; width: 70%;  color: #747474; }
.section-name a:hover { background-color: #e2e6eb; border-radius:5px; }*/

/*进度条*/
.course-progress { margin: 0 20px;}
.course-progress .btn-large { font-size: 12px; color: #747474; padding: 11px 10px;}
.course-progress .btn-large .is-icon { padding: 5px 0 5px 20px; background: url(../images/icon.png) -52px -209px; color: #747474;}
.course-progress .btn-info { margin-left: 20px; background-color: #5aa294; background-image:-webkit-linear-gradient(top, #74d1bf, #60bbaa, #5aa294); font-family: Microsoft YaHei; color: #fff; }
.course-progress .btn-info .is-icon { padding: 5px 0 5px 20px; background: url(../images/icon.png) -70px -205px; color: #747474;}

/*课程评分*/
.course-rating { margin: 25px 0; background-color: #343434; box-shadow: inset 1px 1px 1px #252525; }
.course-rating ul.right { background: none; margin: 10px 0 0; height: 20px; margin: 0; }
.course-rating ul { background: none; margin: 10px 0 0; height: 20px; }
/*最近来访*/
.course-visited { padding-top: 25px; }
.course-visited li { float: left; /*margin: 0 24px;*/ margin: 0 7%; width: 60px; text-align: center; overflow: hidden; }
.course-visited li p { color: #a5a5a5; }
.course-visited li span { display: block; padding: 2px 0; color: #747474; }
.course-visited img { width: 60px; height: 60px; }

.dthumb { position: relative;}
.no-data .accordion-heading { position: relative; }
.lib-con .btn.btn-add-data { position: absolute; right:10px; top: 10px; color: #fff; font-size: 12px; text-shadow: none; background: -webkit-linear-gradient(top,#2ea4cb,#45a1c4,#619dbb); }
.no-data .accordion-heading .btn.btn-add-data { top: 10px; }
/*课程学生*/
#cedit-stu {}
#cedit-stu .form-horizontal .controls { margin-left: 0; }
.cedit-stu-num { height: 40px; line-height: 40px; margin-left: 20px; }
.cedit-stu-num em { color: #275d79;}
.cedit-stu-list { margin: 0; }
.cedit-stu-list li { float: left; padding-top: 15px; width: 140px; height: 140px; text-align: center; border: 1px solid #fff; }
.cedit-stu-list li a { color: #4f4f4f; text-decoration: none;}
.cedit-stu-list li span { display: block; padding: 8px 0 0;}
.cedit-stu-list li p { margin: 0 0 8px; }
.cedit-stu-list .btn-cedit-sendmsg  { display: none; padding: 4px 36px; font-size: 12px; color: #fff; background: -webkit-linear-gradient(top,#85a0be,#7992ad,#6c839c); text-shadow: none;}
.cedit-stu-list li:hover { background-color: #fefefe; border-radius: 4px; box-shadow: 1px 1px 5px #999;}
.cedit-stu-list li:hover .btn-cedit-sendmsg { display: inline-block; }

#form-cedit-setting .control-label { text-indent: 1em;}
