body { background: url(../images/bg-body.png) repeat;}

.csquare-nav { margin: 30px 0;}
.csquare-nav-t { margin-bottom: 0; /*padding-right: 1%;*/ height: 54px; border-radius: 4px; background: url(../images/bg-csquare-nav.png) repeat-x; box-shadow: 1px 2px 3px #666; position: relative; z-index:3;}
.csquare-nav-t .navbar-inner { padding: 0; border: none; background: none;}
.csquare-nav-t ul { float: left; margin: 0;}
.csquare-nav-t li { float: left; line-height: 34px; border-right: 1px solid #556079; box-shadow: 1px 0 1px #4f5a73;}
.csquare-nav-t li a { display: block; padding: 0 65px; color: #fff; text-decoration: none; font-family: Microsoft YaHei;}
.csquare-nav-t li a:hover { background: url(../images/bg-csquare-nav-cur.png) repeat-x; }
.csquare-nav-t li:first-child a { border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
.csquare-nav-t .nav > li > a { padding: 10px 65px; color: #fff; text-shadow: none;}
.csquare-nav-t .nav > li > a:hover { color: #fff;}
.csquare-nav-t .nav > .active > a, .csquare-nav-t .nav > .active > a:hover, .csquare-nav-t .nav > .active > a:focus { background: url(../images/bg-csquare-nav-cur.png) repeat-x; color: #fff;  }

.csquare-search {float: right; position: relative; right: 8px;/*height: 40px;*/ margin: 7px 0 0; width: 160px; /*min-width: 140px;*/  }
.csquare-search .search-query { margin: 0; /*height: 30px;*/ border: none; background-color: #282f3c; border-radius: 4px; box-shadow:0 1px 1px #131212 inset,0 1px 1px #576074; color: #b2bac8; }
.csquare-search .btn { position: absolute; right: 5px; top: 5px; margin-top: 0; width: 34px; height: 34px; background: url(../images/icon.png) 10px -348px no-repeat; border: none; box-shadow: none;}
.csquare-nav-t .nav-collapse, .nav-collapse.collapse { background-color: #323d55; position: relative; z-index: 3;}
.csquare-nav-t .btn-navbar { margin-top: 13px;}
.nav-collapse .navbar-form { padding: 0; border: none;}

.csquare-nav-b { margin: 0 auto; padding: 0 1%; width: 95%; /*height: 50px;*/ line-height: 50px; background-color: #f0f0f0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; /*overflow: hidden;*/  box-shadow: 1px 2px 4px #999; position: relative; z-index:2;}
.csquare-nav-b .form-horizontal { float: right; margin: 0;}
.csquare-nav-b .control-group { float: right; margin: 0 0 0 30px;}
.csquare-nav-b .btn-inner, .csquare-nav-b .btn-outer { border: 1px solid #aeaeae;  background: -webkit-linear-gradient(top, #fff, #f6f6f6, #ececec) repeat-x; color: #747474; font-size: 12px; text-shadow: none;}
.csquare-nav-b .control-label { width: 36px; line-height: 50px; padding: 0; margin: 0; font-size: 12px; float: left;}
.csquare-nav-b .controls { margin-left: 40px; }
.csquare-nav-b select {}


.csquare-clist { margin: 0; position: relative; z-index: 1;}
.csquare-clist > li { float: left; margin: 0 30px 30px 0; background-color: #fff; border-radius: 4px; box-shadow: 1px 1px 5px #999; position: relative;}
.csquare-clist > li:nth-child(4n) { margin-right: 0;}

.row-fluid .span3 > ul { margin: 0;}
.row-fluid .span3 > ul > li{ background-color: #fff; border-radius: 4px; box-shadow: 1px 1px 5px #999; margin-top: 20px; position: relative; z-index: 1;}
.row-fluid .span3 > ul > li:first-child { margin-top: 0;}
.csquare-rank { position: absolute; top: 0; left: 0; width: 89px; height: 89px; background: url(../images/bg-csquare.png) no-repeat; z-index: 3;}
.csquare-clist li:nth-child(2) .csquare-rank { background-position:-108px top;}
.csquare-clist li:nth-child(3) .csquare-rank { background-position:-231px top;}

.csquare-free { position: absolute; right:-8px; top:27px; width: 59px; height: 32px; background: url(../images/bg-csquare.png) 0 -106px no-repeat;}
.csquare-pic { display: block; margin: 0 auto 10px; padding-top: 35px; width: 174px; width: 65%; height: 265px; height: auto; /*background: url(../images/bg-common.png) -825px -170px;*/ text-align: center;}
.csquare-pic:after { content: ''; display: block; width: 60px; height: 35px; background-color: #000; /*position: absolute; bottom: -10px; left: 2px; */ margin: 0 auto; min-width: 100%; background: url(../images/bg-csquare-shadow.png) center top no-repeat; position:relative; top: -12px; z-index: 1; }
.csquare-pic img { max-width: 100%; position: relative; z-index: 2;}
.csquare-info { padding: 3px 15px 9px; border-width: 1px 0 1px; border-style: solid; border-color: #c2c2c2; position: relative; }
.csquare-info h4 { }
.csquare-info h4 a { font-size: 20px; color: #747474; text-decoration: none; }
.csquare-info h4 span { font-size: 12px; position: absolute; right: 10px; top:15px; }
.csquare-info h4 em { color: #327b00;}
.csquare-footer { padding: 0 15px; height: auto; line-height: 38px;}
.csquare-footer .course-rating { float: left;}
.csquare-footer .course-rating ul { position: relative; top: 3px; min-width: 147px; }
.csquare-addnum { float: left;}
.csquare-addnum em { font-weight: bold;}

/*select美化*/
.csquare-nav-b .dropdown {outline:none;display:inline-block;*display:inline;}
.csquare-nav-b .dropdown h4{cursor:default; text-indent:20px; margin:0; padding:0;}
.csquare-nav-b .dropdown * {-moz-user-select:none;}
.csquare-nav-b .dropdown h4.over {}
.csquare-nav-b .dropdown div {display:block; /*fix bug*/}
.csquare-nav-b .dropdown ul{position:absolute;display:none;margin:0;padding:0;float:left;clear:both; z-index: 999;}
.csquare-nav-b .dropdown ul li{text-indent:5px;margin:0;padding:0;list-style:none;display:block;cursor:default;}
.csquare-nav-b .dropdown ul li.over{}
.csquare-nav-b .dropselectbox {display:inline;}
.csquare-nav-b /* write you style here */
.csquare-nav-b .dropselectbox {/*background:#DDD url(../images/selectBg.png) repeat-x left top;*/}
.csquare-nav-b .dropdown h4{height:27px; font:12px/27px Arial, Helvetica, sans-serif; border:solid 1px #aeaeae; background: #fff url(../images/droparrow.gif) no-repeat 198px center; border-radius: 12px; cursor: pointer;}
.csquare-nav-b .dropdown h4.over{border-color:#369; background-image:url(../images/droparrowover.gif);}
.csquare-nav-b .dropdown h4.current{border-color:#003;}
.csquare-nav-b .dropdown ul{border:1px solid #AAA; background:#FFF;}
.csquare-nav-b .dropdown ul li{background:#FFF;height:28px;font:400 12px/28px Arial, Helvetica, sans-serif; text-indent: 20px;}
.csquare-nav-b .dropdown ul li.over{background:#369; color:#FFF;}

/*课程广场焦点图*/
.recommend { position: relative; box-shadow: 0 1px 3px #666, 0 -1px 3px #666 ;}
.pic_list { /*width: 9999em; height: 225px;*/}
.pic_list li { /*display: inline-block; position: relative; width: 1100px; height: 225px;*/ position: absolute; left: 0; top: 0; width: 100%;}
.pic_list li:nth-last-child(1) { z-index: 1;}
.pic_list li:nth-last-child(2) { z-index: 2;}
.pic_list li:nth-last-child(3) { z-index: 3;}
.pic_list li:nth-last-child(4) { z-index: 4;}
.pic_list li:nth-last-child(5) { z-index: 5;}
.pic_list a { display: block; /*height: 225px;*/}
.pic_list img { max-width: 100%; display: block;}


.thumb { position: absolute; left: 50%; bottom: 1%; width: 150px; margin-left: -75px; text-align: center; z-index: 9;}
.thumb li { display: inline-block; margin: 0 3px; width: 15px; height: 15px;}
.thumb span { cursor: pointer; display: block; width: 13px; height: 13px; background-color: #adadad; -webkit-border-radius: 40px; border-radius: 40px; background: -webkit-linear-gradient(#a9a9a9, #adadad); box-shadow: inset 0 1px 1px #666;}
.thumb span:hover, .thumb span.cur{ background: #567ba5; background: -webkit-linear-gradient(#6182ae, #436e94); box-shadow: inset 0 1px 1px #666; }

/*课程详情*/
.csquare-detail { border-radius: 4px; background-color: #fff; box-shadow: 0 1px 5px #999;}
.csquare-detail .main { width: 70%;}

.cdetail-info-hd { border-top-left-radius: 4px; border-top-right-radius: 4px;  height: 50px; background: -webkit-linear-gradient(top, #59657d, #445068, #2d3850); }
.cdetail-info-hd .go-back { float: right; margin: 10px 10px 0 0; background: -webkit-linear-gradient(top, #8b96ac, #7e889e, #6d788e); color: #fff; font-size: 12px; text-shadow: none;}
.cdetail-info-bd { position: relative; margin: 0; margin: 12px 0 0 0;/* display: -webkit-box;*/ padding-bottom: 39px;}
.cdetail-info-bd dd { margin-left: 175px; height: 28px; line-height: 28px;}
.cdetail-info-bd .course-rating ul { padding-top: 4px;}
.cdetail-cpic { float: left; display: block;position:  absolute; left: 15px; top: -35px; }
.cdetail-cpic img { border: 6px solid #fff; border-radius: 4px; width: 124px; height: 172px;}
.cdetail-cname { margin-bottom: 15px; }
.cdetail-cname a { padding-right: 54px; font-size: 24px; color: #64718e; text-decoration: none; font-weight: bold; background: url(../images/icon.png) 110px -402px no-repeat; font-family: Microsoft YaHei;}
.cdetail-addbtn { position: absolute; right: 28px; top: 8px; margin: 0;}
.cdetail-addbtn a { padding: 71px 38px 31px; background-image: -webkit-linear-gradient(top,#76829e,#465473); color: #fff; font-size: 12px; position: relative}
.cdetail-addbtn a:hover { background-position: 0 0;}
.icon-cdetail-add { background: url(../images/icon.png) -89px -302px no-repeat; width: 31px; height: 31px; position: absolute; top: 30px; left: 50%; margin-left: -15px;}

.cdetail-intro .nav-tabs { margin: 0; padding-left: 40px; height: 40px; background-color: #6c829b;}
.cdetail-intro .nav-tabs li { position: relative; top: 9px; }
.cdetail-intro .nav-tabs a { color: #d5e0ec; padding: 5px 20px;}
.cdetail-intro .nav-tabs a:hover { background: #fff; border-bottom: 1px solid #fff;}
.cdetail-intro .nav-tabs > .active > a,.cdetail-intro .nav-tabs > .active > a:hover { color: #5f5f5f;}
.cdetail-intro .tab-content { padding: 30px 30px 20px 40px;}
.cdetail-intro-tpic { float: left; width: 100px; text-align: center; margin-right: 50px;}
.cdetail-intro-tpic a { display: block; background: url(../images/bg-common.png) -399px 0 no-repeat; padding-top: 8px;}
.cdetail-intro-tpic span { font-size: 18px; color: #64718e; text-decoration: none; font-family: Microsoft YaHei; display: block; padding: 10px 0;}
.cdetail-intro-ttext { display: table-cell;}
.cdetail-data-hd { height: 40px; background-color: #6C829B; color: #fff;}
.cdetail-data-hd h6 { padding-left: 40px; line-height: 40px;}

.cdetail-data-bd .dl-horizontal { margin: 0; }
.cdetail-data-bd .dl-horizontal dt { width: auto;}
.cdetail-data-bd .dl-horizontal dd { margin: 0;}
.cdetail-data-bd { margin: 0; padding: 30px 0; }

.cdetail-stu { width: 30%;}
.cdetail-stu-hd { height: 40px; line-height: 40px; background: #6C829B; color: #fff;}
.cdetail-stu-hd span { color: #d9e5ff;}
.cdetail-stu-bd li { float: left; padding: 10px;}
.cdetail-stu-bd { position: relative;}
.cdetail-stu-bd:before { /*content: ''; display: block; border-left: 1px solid #c2c2c2; width: 0; height: 100%; position: absolute; left: -25px; */}
