#mod-task .lib-con, 
#mod-statistics .lib-con, 
#mod-video .lib-con { padding-top: 35px; padding-bottom: 0;}
#mod-task [class*="span"], 
#mod-statistics [class*="span"], 
#mod-video [class*="span"]  { padding-left: 20px; }

.lib-container .lib-con .tab-pane { padding: 18px 0 8px; }
#mod-video .btn-submod { background: -webkit-linear-gradient(top,#8eb03d,#779634,#5c782a); color: #fff; }

/*最近内容列表*/
.mod-item-list { margin: 0; }
.mod-item-list li { position: relative; padding: 12px 15px 15px 70px; background: url(../images/icon-mod-item.png) 15px 15px no-repeat; border-radius: 4px;}
.mod-item-list li:hover { background-color:#e8ecf2;  }
.mod-item-sub { display: none; position: absolute; right: 15px; top: 15px;}
.mod-item-sub .btn-icon { background-position: 2px 0; }
.mod-item-list li:hover .mod-item-sub { display: block;}
.mod-item-list h6 { margin: 0 0 5px; font-size: 14px; font-weight: normal;}
.mod-item-list p { margin: 0;}
.mod-item-list .btn { margin-left: 12px; padding: 0; width: 92px; height: 38px; line-height: 38px; font-size: 12px; color: #fff; background: #8f9fb6; text-shadow: none; }
.mod-item-list .btn:hover { background-color: #aabdd9;}

#mod-video .mod-item-list li { background-position: 15px -56px;}
#mod-video .mod-item-list li.complete { background-position: 15px -127px;}
/*最近列表翻页*/
.container .pagination  { margin-top: 30px; text-align: center;}
.container .pagination a { color: #6d7a96;}
.container .pagination ul { float: none;}
.container .pagination ul > li > a:hover, #mod-task .pagination ul > .active > a, #mod-task .pagination ul > .active > span { background-color: #9fa5b2; color: #fff; }
.container .pagination form { position: relative; top: -10px;}

/*modal 待模块化*/
.modal { width: 760px; margin:-310px 0 0 -380px; }
.modal .modal-header { box-shadow: 0 1px 1px #fff;}
.modal .modal-body { padding: 20px 15px 0; max-height: 650px; background-color: #D7DBE3;}
.modal .control-label { font-size: 12px; width: 75px; line-height: 30px; }
.modal .controls { margin-left: 75px; }

.modal .btn { padding: 0; }
.modal .btn-group { margin-bottom: 20px; width: 100%; } /*按钮组*/
.modal .btn-group .btn { padding: 2px 0; width: -webkit-calc(100%/3 + 1px); font-size: 12px; color: #747474; } 
.modal .btn-group .btn.active { height: 25px; line-height: 18px; border: 1px solid #747474; box-shadow: inset 0 1px 1px rgba(255,255,255,0.4); background: -webkit-linear-gradient(top, #75819D, #616E8B, #475574); color: #fff; font-size: 12px; text-shadow: 1px 1px 1px #333; }
  
.modal .input-xlarge { width: 100%; }/*文本框&文本域*/

#modal-set-course .modal-body { overflow: hidden; }
#modal-set-course .btn-group { }
#modal-set-course form { height: 424px; }
#modal-set-course .form-inner { position: relative; width: 9999em; height: 100%; }
#modal-set-course .step-info, #modal-set-course .step-auth, #modal-set-course .step-outline { float: left; margin-left: 20px; width: 730px; height: 100%;  }
#modal-set-course .step-info { margin-left: 0; }
#modal-set-course .control-label { width: 30px; }
#modal-set-course .controls { margin: 0 10px 0 15px; }
#modal-set-course textarea.input-xlarge { height: 260px; }

#modal-set-course .btn-step-info { width: 100%; }
#modal-set-course .btn-step-auth { width: 49%; }
#modal-set-course #btn-step-auth-next { float: right; }
#modal-set-course .btn-step-outline { width: 49%; }
#modal-set-course #btn-step-outline-next { float: right; }

.step-outline-nav { margin: 0; height: 42px; border-bottom: none;}
.step-outline-nav li { margin-left: 1px; width: 114px; height: 42px; line-height: 42px; text-align: center;}
.step-outline-nav li:first-child { margin-left: 0; }
.step-outline-nav li a { margin: 0; padding: 0; line-height: 41px; border: none; color: #6D7A96; border-top-left-radius: 6px; border-top-right-radius: 6px; background-color: #f1f2f6; border-bottom: 1px solid #D7DBE3;}
.step-outline-nav li.active a, .step-outline-nav li.active a:hover { border: none; box-shadow: none; line-height: 42px;}

#modal-set-course .tab-content { border-radius: 0 4px 4px 4px; height: 370px; background: #fff; }
#modal-set-course #import-outline img { padding: 3px; width: 94px; height: 132px; border: 2px solid #fff; }
#modal-set-course #import-outline ul { margin: 0; }
#modal-set-course #import-outline li { float: left; margin: 16px 20px 0 20px; text-align: center; cursor: pointer; position: relative; }
#modal-set-course #import-outline li { float: left; text-align: center; cursor: pointer; }
#modal-set-course #import-outline li:hover img, #modal-set-course #import-outline li.cur img { border: 2px solid #a9b2c1; border-radius: 2px; }
#modal-set-course #import-outline li p { margin: 0; }
#modal-set-course #import-outline li .icon-mark { display: none; position: absolute; right: -16px; top: -10px; width: 28px; height: 28px; background: url(../images/icon.png) -73px -449px;}
#modal-set-course #import-outline li.cur .icon-mark { display: block; }

#modal-set-course .step-auth .control-group { border-bottom: 1px solid #bbc2d2; margin: 0; padding: 20px 0 30px; }
#modal-set-course .step-auth .control-group:first-child { padding-top: 0; }
#modal-set-course .step-auth .control-group:last-child { border: none; }
#modal-set-course .step-auth .control-label { float: none; /*margin-top: -10px;*/ padding: 0; width: 50px; text-align: left; }
#modal-set-course .step-auth .controls { margin-left: 0; }
#modal-set-course .step-auth .controls .dropdown { /*display: block; */}
#modal-set-course .step-auth .controls label { margin: 3px 0 10px 20px; cursor: pointer; }
#modal-set-course .step-auth .input-prepend { margin-left: 20px; width: 220px; border-radius: 4px; background: #b5bbc9; }
#modal-set-course .step-auth .input-prepend input { margin-top: 6px; margin-bottom: 6px; width: 130px; height: 8px; border-radius: 4px; }
#modal-set-course .step-auth .add-on { margin: 0 8px; padding: 0; line-height: 40px; font-size: 12px; width: 30px; height: auto; border: none; background: none; color: #fff; text-shadow: none; }

#modal-set-course .step-auth .cg-auth .controls { margin-top: 15px; }








form .input-date { width: 55%; padding-right: 5px;}
form .input-time { margin-left: 4%; width: 22%;}
#form-set-video .input-date { width: 44%;}
#form-set-video .input-time:last-child { margin-left: 0;}
#form-set-video .toplimit { float: left; margin-right : 78px; }
#form-set-video .control-label { width: 50px; }
#form-set-video .btn-darkblue { width: 100%; }

span.static { display: inline-block; margin: 0 13px; }

#modal-view-task { width: 760px; margin:-330px 0 0 -380px}
#modal-view-task .modal-body { padding: 10px; max-height: 560px; background-color: #fff; }

#mod-settask .lib-wide-bd { padding-bottom:20px; background-color: #D7DBE3; }

#mod-settask .btn-parse, .mod-settask .btn-delete { /*padding: 0; width: 40px; height: 28px; line-height: 28px; text-align: center; border: 1px solid #aeaeae;  background: -webkit-linear-gradient(top, #fff, #f6f6f6, #ececec) repeat-x; color: #747474; font-size: 12px; text-shadow: none;*/ }

#form-set-task { padding: 20px 25px 10px;}
#mod-settask .lib-hd-bar { padding: 0 20px; height: 40px; border-radius: 0; background-color: #6c829b;}
#mod-settask .lib-hd-bar h6 { line-height: 40px; font-weight: normal;}
#mod-settask .lib-hd-bar .right { padding: 2px 0; width: 65px; right: 20px; top: 7px; background: #384e67; text-align: center;}
#mod-settask .block { margin: 20px; }

/*statistics*/
#mod-statistics .btn-submod { margin-bottom: 20px; text-indent: 0; }
#mod-statistics .lib-container .dropdown { float: right; margin-top: 4px; }
#mod-statistics .lib-container .dropdown h4 { width: 50px; height: 28px; line-height: 28px;}
/*account*/
#mod-setaccount .lib-wide-bd { padding: 25px; }
#mod-setaccount .block { margin-bottom: 25px; }
#mod-setaccount .account-avatar  { margin-top: -5px; padding-top: 8px; background: url(../images/account-avatar.png) center top no-repeat; text-align: center; }
#mod-setaccount .account-avatar img { width: 256px; height: 256px; }
#mod-setaccount .account-uname { margin: 0; text-align: center; line-height: 70px; font-size: 18px; font-weight: bold; }
#mod-setaccount .btn-avatar { margin: 0; padding: 0; width: 73%; height: 40px; line-height: 40px; background: -webkit-linear-gradient(top, #75819D, #616E8B, #475574); color: #fff; text-shadow: 1px 1px 1px #333;}
#mod-setaccount .span4 { text-align: center; }
#mod-setaccount .span8 ul { margin: 0; }
#mod-setaccount .span8 ul li { display: inline; padding-right: 20px;}
#mod-setaccount .span8 a { color: #44567c; }
#mod-setaccount .block-pw {}
#mod-setaccount .block-pw .block-hd { height: 50px; line-height: 50px; background: -webkit-linear-gradient(top,#c2cbdd,#b9c2d6,#b6bccb); border-bottom: 1px solid #fff; color: #fff; }
#mod-setaccount .block-pw .block-bd { background: #e2e7f2;}
/*task-stu*/
#mod-stutask .span8 { box-shadow: 1px 1px 5px #999;}
#mod-stutask .lib-wide-bd { padding-bottom:20px; background-color: #f3f2e8; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}
#mod-stutask .lib-wide-hd h5 { margin: 0; text-shadow: 1px 1px 1px #333;}
#mod-stutask .lib-container { box-shadow: none; background: none; }
#mod-stutask .mytask-time, #mod-stutask .mytask-section, #mod-stutask .mytask-con { padding: 0 25px; }
#mod-stutask .mytask-time, #mod-stutask .mytask-section { line-height: 50px; border-bottom: 1px solid #d5d0a8; box-shadow: 0 1px 1px #fff;  }
#mod-stutask .mytask-time span { padding: 0 5px; }
#mod-stutask .mytask-section span { padding: 0 5px; }
#mod-stutask .mytask-con span { line-height: 50px; }
#mod-stutask .mytask-con p { padding: 0 25px; text-indent: 2em; }

#mod-stutask .span4 { }
#mod-stutask .span4 .btn { padding: 7px 0;; width: 100%; font-size: 12px; color: #747474; }
#mod-stutask .mytask-wrap {padding: 10px 10px 15px; border: 1px solid #777f8f; border-right: none; border-bottom: none; box-shadow: -1px -1px 1px #323948, 2px 2px 5px #999; border-radius: 5px; background: url(../images/mytask-aside.png); position: relative; }
#mod-stutask .mytask-wrap:before { content: ' '; display: block; width: 129px; height: 58px; background: url(../images/jiazi.png); position: absolute; left: 50%; top: -40px; margin-left: -65px; }
#mod-stutask .mytask-aside { background: #fff; /*background: url(../images/mytask-aside.png);*/}
#mod-stutask .mytask-aside h6 { margin: 0; line-height: 42px; font-weight: normal; text-align: center; }
#mod-stutask .mytask-aside-bd { padding: 10px 10px 30px; border: 1px solid #d9d9d9; border-left: none; border-right: none; }

#mod-stutask .mytask-list { margin: 0; }
#mod-stutask .mytask-list li { margin: 10px 10px 0 0; padding-left: 52px; height: 42px; background: url(../images/icon.png) no-repeat; cursor: pointer; }
#mod-stutask .mytask-list p { margin: 0; }
#mod-stutask .mytask-list p.uname { color: #878787; }
#mod-stutask .mytask-list .video { background-position: -454px -106px; }
#mod-stutask .mytask-list .video:hover { background-position: -454px -159px; }

#mod-stutask .mytask-list .text { background-position: -454px -213px; }
#mod-stutask .mytask-list .text:hover { background-position: -454px -266px; }

#mod-stutask .mytask-list .ppt { background-position: -454px -319px; }
#mod-stutask .mytask-list .ppt:hover { background-position: -454px -372px; }

#mod-stutask .mytask-list .pdf { background-position: -454px -426px; }
#mod-stutask .mytask-list .pdf:hover { background-position: -454px -479px; }

#mod-stutask .mytask-aside-ft { margin-bottom: 10px; padding: 0 10px; line-height: 42px; }
#mod-stutask .mytask-aside-ft a { color: #6d7a96; }
/*自定义交作业翻页*/
#worklist .mytask-aside-ft { margin-top:10px; border-top:1px dotted #e0e0e0;}
#mod-stutask .mytask-aside-bd { padding: 10px 10px;}

#mod-stutask .btn.btn-handover { background: -webkit-linear-gradient(top,#9fc641,#64a203,#488f07); color: #fff; text-shadow: none; }

/*message*/
#mod-message .lib-container { background: none; box-shadow: none; }
#mod-message .nav-tabs { margin: 0 auto; padding: 0; width: 97.5%; border: none; position: relative; z-index: 2;}
#mod-message .nav-tabs > li { width: 50%; height: 47px; line-height: 47px; background: url(../images/message-nav.png) 0 -53px repeat-x; border-top-left-radius: 3px; border-top-right-radius: 3px; position: relative; top: 2px; }
#mod-message .nav-tabs > li .icon-pm {  background: url(../images/icon-small.png) 3px -53px no-repeat; }
#mod-message .nav-tabs > li .icon-notice {  background: url(../images/icon-small.png) 3px -68px no-repeat; }
#mod-message .nav-tabs > li a { display: block; padding: 0; margin: 0; height: 100%; line-height: 47px; text-align: center; color: #fff; }
#mod-message .nav-tabs > li a:hover { border: none; background: none; }
#mod-message .nav-tabs > li.active { position: relative; top: -1px; height: 50px; }
#mod-message .nav-tabs > li.active:before { content: ''; display: block; position: absolute; left: 50%;  bottom: 0;  width: 0; height: 0; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid #fff;}
#mod-message .nav-tabs > li.active a { border: none; background: url(../images/message-nav.png) repeat-x; }
#mod-message .nav-tabs > li .message-num { position: absolute; right: -10px; top: -10px; width: 22px; height: 22px; line-height: 22px; border-radius: 13px; background-color: #930000; text-align: center; color: #fff; border: 2px solid #fff; z-index: 1;}

#mod-message .lib-wide-bd { background: #fff; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border-top-left-radius: 2px; border-top-right-radius: 2px;  box-shadow: 1px 1px 5px #999; position: relative; z-index: 1; }
#mod-message .lib-wide-bd:before { content: ''; display: block; position: absolute; left: 0; top: -9px; width: 15px; height: 9px; background: url(../images/message-con.png) no-repeat; }
#mod-message .lib-wide-bd:after { content: ''; display: block; position: absolute; right: 0; top: -9px; width: 15px; height: 9px; background: url(../images/message-con.png) no-repeat; -webkit-transform: rotateY(180deg);}
#mod-message .pm-hd { padding: 0 25px; /*height: 72px;*/ line-height: 72px; border-bottom: 1px solid #e5e5e5; position: relative; }
#mod-message .pm-hd span { font-size: 14px; font-weight: bold; }
#mod-message .pm-hd .btn-wpm { position: absolute; right: 25px; top: 18px; padding: 8px 30px;font-size: 12px; background: -webkit-linear-gradient(top,#8EB03D,#779634,#5C782A); color: #fff; text-shadow: 1px 1px 1px #333; border: none;}
#mod-message .pm-hd .icon-wpm { background: url(../images/icon-small.png) 1px -86px no-repeat;  }
#mod-message .message-list { margin: 0; min-height: 500px; }
#mod-message .message-list li { display: -webkit-box; padding: 20px 25px; border-bottom: 1px solid #e5e5e5; }
#mod-message .message-list li:hover .message-avatar { opacity: 0.8; }
#mod-message .pm-con { -webkit-box-flex:1; margin-top: -3px; padding-left: 15px;}
#mod-message .pm-info { margin-bottom: 4px;}
#mod-message .pm-info a { color: #000; }
#mod-message .pm-operate { float: right; }
#mod-message .pm-operate a { padding: 0 15px; color: #747474; text-decoration: none; }
#mod-message .pm-operate a:hover { color: #44567C; }
#mod-message .pm-operate i { background: url(../images/icon-small.png) no-repeat;}
#mod-message .pm-operate .icon-reply { background-position: -18px -35px;}
#mod-message .pm-operate .icon-search { background-position: -18px -53px;}
#mod-message .pm-operate .icon-delete { background-position: -18px -70px;}
#mod-message .pagination { margin-top: 20px; }

#dialog .message-list { padding: 10px 0;  background: #e5e5e5; }
#dialog .message-list li { display: block; padding: 12px 50px 0; }
#dialog .message-con { position: relative; margin-top: 12px; padding: 10px 38px 20px; background-color: #fff; }
#dialog .message-con:before { position: absolute; top: -10px; left: 55px; content: ''; display: block; width: 0; height: 0; border-left: 10px solid #fff; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }
#dialog .me .message-con:before { top: -10px; left: auto; right: 55px; border-left: none; border-right: 10px solid #fff;}
#dialog .message-con p { padding-right: 170px; }
#dialog .pm-operate { float: none; text-align: right; }
#dialog .message-user { padding: 0 20px; color: #000; }
.me .message-info { line-height: 42px; }
.me .message-info a { float: right; }
.me .message-info span { float: right; }

#modal-send-message .modal-body { display: -webkit-box; padding: 0; }
#modal-send-message form,#modal-send-reply form  { padding: 20px 15px 5px; }
#form-send-message { position: relative; -webkit-box-flex:1 ; }
#modal-send-message .input-xlarge, #modal-send-reply .input-xlarge  { width: 100%; } 
#modal-send-message textarea.input-xlarge, #modal-send-reply textarea.input-xlarge { min-height: 320px; } 
#modal-send-message input.input-xlarge { width: -webkit-calc(100% - 108px); } 
.btn-linkman { position: absolute; right: 0; top: 20px; padding: 9px 12px; color: #545f76; background: #bac1cf; text-shadow: none; box-shadow: none; border-top-right-radius: 0;  border-bottom-right-radius: 0; font-size: 12px; border-right: none; }
.icon-arrow { margin-right: 0; background: url(../images/icon-small.png) -18px -88px no-repeat;}
.unfold .icon-arrow { background-position: -18px -106px;}

#modal-send-message .btn-submit, #modal-send-reply .btn-submit { width: 100%; margin: 0; padding: 0; height: 40px; line-height: 40px; background: -webkit-linear-gradient(top, #75819D, #616E8B, #475574); color: white; font-size: 12px; text-shadow: none; border: none; }
.linkman-tree { width: 230px; background: #9aa3b6; }

#modal-send-reply .modal-body { padding: 0; }
