#mod-task .lib-con, 
#mod-statistics .lib-con, 
#mod-video .lib-con { padding-top: 35px; padding-bottom: 0;}
#mod-task [class*="span"], 
#mod-statistics [class*="span"], 
#mod-video [class*="span"]  { padding-left: 20px; }

.lib-container .lib-con .tab-pane { padding: 18px 0 8px; }

/*最近内容列表*/
.mod-item-list { margin: 0; }
.mod-item-list li { position: relative; padding: 12px 15px 15px 70px; background: url(../images/icon-mod-item.png) 15px 15px no-repeat; border-radius: 4px;}
.mod-item-list li:hover { background-color:#e8ecf2;  }
.mod-item-sub { display: none; position: absolute; right: 15px; top: 15px;}
.mod-item-sub .btn-icon { background-position: 2px 0; }
.mod-item-list li:hover .mod-item-sub { display: block;}
.mod-item-list h6 { margin: 0 0 5px; font-size: 14px; font-weight: normal;}
.mod-item-list p { margin: 0;}
.mod-item-list .btn { margin-left: 12px; padding: 0; width: 92px; height: 38px; line-height: 38px; font-size: 12px; color: #fff; background: #8f9fb6; text-shadow: none; }
.mod-item-list .btn:hover { background-color: #aabdd9;}

#mod-video .mod-item-list li { background-position: 15px -56px;}
#mod-video .mod-item-list li.complete { background-position: 15px -127px;}
/*最近列表翻页*/
.container .pagination  { margin-top: 30px; text-align: center;}
.container .pagination a { color: #6d7a96;}
.container .pagination ul { float: none;}
.container .pagination ul > li > a:hover, #mod-task .pagination ul > .active > a, #mod-task .pagination ul > .active > span { background-color: #9fa5b2; color: #fff; }
.container .pagination form { position: relative; top: -10px;}

/*弹层表单*/
.modal { width: 760px; margin:-360px 0 0 -380px}
.modal .modal-header { box-shadow: 0 1px 1px #fff;}
.modal .modal-body { padding: 20px 15px 0; /*max-height: 560px;*/ max-height: 650px; background-color: #D7DBE3;}
form .input-date { width: 55%; padding-right: 5px;}
form .input-time { margin-left: 4%; width: 22%;}
#form-set-video .input-date { width: 44%;}
#form-set-video .input-time:last-child { margin-left: 0;}
span.static { display: inline-block; margin: 0 13px; }

#modal-view-task { width: 760px; margin:-330px 0 0 -380px}
#modal-view-task .modal-body { padding: 10px; max-height: 560px; background-color: #fff; }

#mod-settask .lib-wide-bd { padding-bottom:20px; background-color: #D7DBE3; }

#mod-settask .btn-parse, .mod-settask .btn-delete { /*padding: 0; width: 40px; height: 28px; line-height: 28px; text-align: center; border: 1px solid #aeaeae;  background: -webkit-linear-gradient(top, #fff, #f6f6f6, #ececec) repeat-x; color: #747474; font-size: 12px; text-shadow: none;*/ }

#form-set-task { padding: 20px 25px 10px;}
#mod-settask .lib-hd-bar { padding: 0 20px; height: 40px; border-radius: 0; background-color: #6c829b;}
#mod-settask .lib-hd-bar h6 { line-height: 40px; font-weight: normal;}
#mod-settask .lib-hd-bar .right { padding: 2px 0; width: 65px; right: 20px; top: 7px; background: #384e67; text-align: center;}
#mod-settask .block { margin: 20px; }

/*statistics*/
#mod-statistics .btn-submod { margin-bottom: 20px; text-indent: 0; }
#mod-statistics .lib-container .dropdown { float: right; margin-top: 4px; }
#mod-statistics .lib-container .dropdown h4 { width: 50px; height: 28px; line-height: 28px;}
/*account*/
#mod-setaccount .lib-wide-bd { padding: 25px; }
#mod-setaccount .block { margin-bottom: 25px; }
#mod-setaccount .account-avatar  { margin-top: -5px; padding-top: 8px; background: url(../images/account-avatar.png) center top no-repeat; text-align: center; }
#mod-setaccount .account-avatar img { width: 256px; height: 256px; }
#mod-setaccount .account-uname { margin: 0; text-align: center; line-height: 70px; font-size: 18px; font-weight: bold; }
#mod-setaccount .btn-avatar { margin: 0; padding: 0; width: 73%; height: 40px; line-height: 40px; background: -webkit-linear-gradient(top, #75819D, #616E8B, #475574); color: #fff; text-shadow: 1px 1px 1px #333;}
#mod-setaccount .span4 { text-align: center; }
#mod-setaccount .span8 ul { margin: 0; }
#mod-setaccount .span8 ul li { display: inline; padding-right: 20px;}
#mod-setaccount .span8 a { color: #44567c; }
#mod-setaccount .block-pw {}
#mod-setaccount .block-pw .block-hd { height: 50px; line-height: 50px; background: -webkit-linear-gradient(top,#c2cbdd,#b9c2d6,#b6bccb); border-bottom: 1px solid #fff; color: #fff; }
#mod-setaccount .block-pw .block-bd { background: #e2e7f2;}
/*message*/
#mod-stutask .span8 { box-shadow: 1px 1px 5px #999;}
#mod-stutask .lib-wide-bd { padding-bottom:20px; background-color: #f3f2e8; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}
#mod-stutask .lib-wide-hd h5 { margin: 0; text-shadow: 1px 1px 1px #333;}
#mod-stutask .lib-container { box-shadow: none; background: none; }
#mod-stutask .mytask-time, #mod-stutask .mytask-section, #mod-stutask .mytask-con { padding: 0 25px; }
#mod-stutask .mytask-time, #mod-stutask .mytask-section { line-height: 50px; border-bottom: 1px solid #d5d0a8; box-shadow: 0 1px 1px #fff;  }
#mod-stutask .mytask-time span { padding: 0 5px; }
#mod-stutask .mytask-section span { padding: 0 5px; }
#mod-stutask .mytask-con span { line-height: 50px; }
#mod-stutask .mytask-con p { padding: 0 25px; text-indent: 2em; }

#mod-stutask .span4 { }
#mod-stutask .span4 .btn { padding: 7px 0;; width: 100%; font-size: 12px; color: #747474; }
#mod-stutask .mytask-wrap {padding: 10px 10px 15px; border: 1px solid #777f8f; border-right: none; border-bottom: none; box-shadow: -1px -1px 1px #323948, 2px 2px 5px #999; border-radius: 5px; background: url(../images/mytask-aside.png); position: relative; }
#mod-stutask .mytask-wrap:before { content: ' '; display: block; width: 129px; height: 58px; background: url(../images/jiazi.png); position: absolute; left: 50%; top: -40px; margin-left: -65px; }
#mod-stutask .mytask-aside { background: #fff; /*background: url(../images/mytask-aside.png);*/}
#mod-stutask .mytask-aside h6 { margin: 0; line-height: 42px; font-weight: normal; text-align: center; }
#mod-stutask .mytask-aside-bd { padding: 10px 10px 30px; border: 1px solid #d9d9d9; border-left: none; border-right: none; }

#mod-stutask .mytask-list { margin: 0; }
#mod-stutask .mytask-list li { margin: 10px 10px 0 0; padding-left: 52px; height: 42px; background: url(../images/icon.png) no-repeat; cursor: pointer; }
#mod-stutask .mytask-list p { margin: 0; }
#mod-stutask .mytask-list p.uname { color: #878787; }
#mod-stutask .mytask-list .video { background-position: -454px -106px; }
#mod-stutask .mytask-list .video:hover { background-position: -454px -159px; }

#mod-stutask .mytask-list .text { background-position: -454px -213px; }
#mod-stutask .mytask-list .text:hover { background-position: -454px -266px; }

#mod-stutask .mytask-list .ppt { background-position: -454px -319px; }
#mod-stutask .mytask-list .ppt:hover { background-position: -454px -372px; }

#mod-stutask .mytask-list .pdf { background-position: -454px -426px; }
#mod-stutask .mytask-list .pdf:hover { background-position: -454px -479px; }

#mod-stutask .mytask-aside-ft { margin-bottom: 10px; padding: 0 10px; line-height: 42px; }
#mod-stutask .mytask-aside-ft a { color: #6d7a96; }
#mod-stutask .btn.btn-handover { background: -webkit-linear-gradient(top,#9fc641,#64a203,#488f07); color: #fff; text-shadow: none; }
