/*布置作业*/
#mod-sethomework .set-homework-stu { line-height: 34px; }
#mod-sethomework .set-homework-stu .checkbox { cursor: pointer;}
#mod-sethomework .set-homework-submit { line-height: 38px; }
#mod-sethomework .set-homework-submit a { color: #4b6384;}
.btn.btn-set-section { margin: 0; padding: 0; width: 95px; height: 38px; line-height: 38px; font-size: 12px; color: #747474; }
#modal-set-video { margin-top: -280px; }


.toplimit, .inlimit { float: left; width: 50%; }
.inlimit .input-time { width: 40%; } 
.lib-container .form-horizontal .inlimit .controls { margin-left: 32px; }

.btn-myself, 
.btn-storage, 
#mod-sethomework input[type="submit"].btn,
#modal-set-video input[type="submit"].btn { width: 49%; margin: 0; padding: 0; height: 40px; line-height: 40px; background:-webkit-linear-gradient(top, #75819D, #616E8B, #475574); color: #fff; font-size: 12px; text-shadow: none;}

.btn-myself:hover,
.btn-storage:hover { background-position: 0 0; color: #fff; }
.btn-storage { float: right;}
#modal-set-homework input[type="submit"].btn { float: right; width: 90%; }
#modal-set-video input[type="submit"].btn { width: 100%; }

/*作业完成情况*/
#mod-taskstatus .go-back { margin-left: 10px; }
#mod-taskstatus table tr > :nth-child(1) { width: 15%; text-align: center; }
#mod-taskstatus table tr > :nth-child(2) { width: 15%; text-align: center; }
#mod-taskstatus table tr > :nth-child(3) { width: 70%; padding-left:6%;}
#mod-taskstatus table ul { margin: 14px 0 0; }
#mod-taskstatus table li { float: left; margin-right: 30px; text-align: center; }
#mod-taskstatus table li:hover { cursor: pointer; }
#mod-taskstatus table li i { display: block; margin:0 auto; width: 42px; height: 45px; background: url(../images/icon.png) no-repeat; }
#mod-taskstatus table li .icon-video { background-position: -454px -106px;}
#mod-taskstatus table li:hover .icon-video { background-position: -454px -159px; }
#mod-taskstatus table li .icon-text { background-position: -454px -213px;}
#mod-taskstatus table li:hover .icon-text { background-position: -454px -266px; }
#mod-taskstatus table li .icon-ppt { background-position: -454px -319px;}
#mod-taskstatus table li:hover .icon-ppt { background-position: -454px -372px; }
#mod-taskstatus table li .icon-pdf { background-position: -454px -426px;}
#mod-taskstatus table li:hover .icon-pdf { background-position: -454px -479px; }
#mod-taskstatus tbody tr td { height: 88px; line-height: 88px; padding-top: 0; padding-bottom: 0; }
#mod-taskstatus .lib-wide-bd { position: relative; padding-bottom: 40px; }
#mod-taskstatus .pagination { position: absolute; right: 2%; bottom: 0;}

