body { background: url(../images/bg-body.png) repeat;}
.lib-main-ucenter { padding-top: 4px; }

.ucenter-cover { /*position: relative; top: 4px;*/ background: url(../images/user-cover.jpg) center top; box-shadow: inset 0 -1px 5px #333,0 1px 1px #fff,inset 0 1px 5px #333;}
.ucenter-cover dl { float: left; width: 300px; }
.ucenter-cover dt { float: left; padding: 15px 21px 106px; background: url(../images/bg-ucenter-avatar.png) no-repeat; }
.ucenter-cover dd { float: left; margin-top: 15px;}
.ucenter-cover a { color: #fff; text-decoration: none;}
.ucover-name a { font-size: 25px; font-family: Microsoft YaHei;}
.ucover-info a { /*margin-right: 15px;*/ padding: 0 10px; }
.ucover-info a:first-child { padding-left: 0; }
.ucover-msg .btn { background: -webkit-linear-gradient(top, #75bbf6, #54a3dc, #2c87c0); font-size: 12px; text-shadow: none; border: none; border-radius:2px; }
.ucover-msg .btn:hover { color: #fff; opacity: 0.9; }

#ucenter { position: relative; top: -62px;}
#ucenter .tab-pane { background-color: #fff; min-height: 500px; } 
.ucenter-nav { float: right; margin: 0; height: 42px; border-bottom: none;}
.ucenter-nav li { margin-left: 1px; width: 114px; height: 42px; line-height: 42px; text-align: center;}
.ucenter-nav li a { margin: 0; padding: 0; line-height: 42px; border: none; color: #747474; border-top-left-radius: 6px; border-top-right-radius: 6px; background-color: #dfe2eb; box-shadow: inset 0 -1px 5px #999;}
.ucenter-nav li.active a, .ucenter-nav li.active a:hover { border: none; box-shadow: none; }


.ucenter-content { /*width: 100%;position: relative;*/ /*padding: 0 3% 45px;*/ border-radius: 5px; border-top-right-radius: 0; box-shadow: 0 1px 5px #999, 0 -1px 5px #333; background-color: #fff; }

.ucenter-content-course { padding: 0 3% 45px; }
.ucenter-content-course a { color: #4b4b4b; text-decoration: none; }
.ucenter-content-course dl:nth-child(2n) { float: right}
.ucenter-content-course dl { display: inline-block; position: relative; margin: 0; margin-top: 45px; width: 48%; min-width: 420px; border: 1px solid #a6a6a6; border-radius: 5px; background-color: #fafafa; }
.ucenter-content-course dl:hover { box-shadow: 1px 1px 2px #999; }
.ucenter-content-course dl:hover .ucenter-course-nav { box-shadow: 0 1px 2px #666; }
.ucenter-content-course dt { float: left; position: relative; margin: 10px 0 10px 10px; width: 106px; height: 149px; border: 1px solid #fff; background-color: #3b3b3b; overflow: hidden; }
.ucourse-hover { position: absolute; left: 0; top: 0; width: 106px; height: 149px; background-color: #000; opacity:0; cursor: pointer; }
a.ucourse-hover-span { display: block; position: absolute; left: -106px; bottom: 0; margin: 0; width: 106px; height: 32px; line-height: 32px; background-color: rgba(0,0,0,0.3);  text-align: center; color: #fff; cursor: pointer;}
a.ucourse-hover-span .icon-arrow-white { margin: 0; position: absolute; right: 14px; top:11px; display: block; width: 12px; height: 10px; background: url(../images/icon.png) 0 -479px no-repeat;}
.ucenter-content-course dt img { height: 100%;}
.ucenter-content-course dd { margin:0; padding-left: 120px; padding-right: 10px; }
.ucenter-content-course .wrap-progress { margin: 0; margin-left: 5px; margin-top: 10px; }

dl.ucontent-add { display: inline-block; margin: 0; margin-top: 45px; width: 48%; min-width: 420px; height: 171px; border: 2px solid #fff; border-radius: 5px; background-color: #fff; }
dl.ucontent-add:hover { border: 2px solid #e8eff4; border-radius: 5px; box-shadow: none;}
.ucontent-add-btn { display: block; position: relative; top: 50%; margin: -55px auto 0; padding-top: 90px; width: 84px; /*height: 84px;*/ background: url(../images/bg-common.png) -5px -225px; text-align: center; font: bold 14px Microsoft YaHei; color: #9db2c7; cursor: pointer; }

.ucenter-course-info { margin: 0; margin-left: 115px; padding: 10px 10px 0; border-bottom: 1px solid #c8c8c8; background: url(../images/bg-ucenter-course.png) left -116px no-repeat, url(../images/bg-ucenter-course.png) right top no-repeat;}
.ucourse-info-wrap { padding-left: 5px; background: url(../images/bg-ucenter-course.png) left -232px repeat-x;}
.ucenter-course-info h4 { margin: 0;}
.ucenter-course-info h4 a { color: #5d7ca1; text-decoration: none; text-shadow: 1px 1px 1px #ccc; font-family: Microsoft YaHei;}
.ucenter-course-info p { margin: 0; height: 30px; line-height: 30px; color: #4b4b4b; }
dd.ucenter-course-tips { position: absolute; left: -14px; top: -12px; margin: 0; padding: 0; width: 26px; height: 25px; }
dd.ucenter-course-tips span { display: block; height: 25px; background:url(../images/icon.png) 0 -213px; line-height: 25px; text-align: center; color: #fff;}

.ucenter-course-nav { position: absolute; right: 10px; bottom: -16px; margin: 0; width: 291px; border: 1px solid #ccc; border-radius: 3px; background-image: -webkit-linear-gradient(top, #fff, #fafafa, #f4f4f4);  }
.ucenter-course-nav li { float: left; width: 72px; border-right: 1px solid #ccc; }
.ucenter-course-nav li:last-child { border: none;}
.ucenter-course-nav li:hover { background: #fff; }
.ucenter-course-nav li a { display: block; padding-top: 42px; /*width: 72px;*/ height: 30px; text-align: center; font-family: Microsoft YaHei; color: #747474; background: url(../images/icon.png) 0 5px; }
.ucenter-course-nav .question a { background-position: -70px 5px;  }
.ucenter-course-nav .task a { background-position: -140px 5px;  }
.ucenter-course-nav .note a { background-position: -280px 5px;  }


.ucenter-content-sch { padding: 0 2% 45px; }
.ucenter-content-sch a { color: #747474; text-decoration: none; }
.ucenter-content-sch dl:nth-child(2n) { float: right}
.ucenter-content-sch dl { display: inline-block; position: relative; margin: 0; margin-top: 20px; width: 100%; min-width: 420px; border: 1px solid #a6a6a6; border-radius: 5px; background-color: #fafafa; }
.ucenter-content-sch dl:hover { box-shadow: 1px 1px 2px #999; }
.ucenter-content-sch dl:hover .ucenter-course-nav { box-shadow: 0 1px 2px #666; }
.ucenter-content-sch dt { float: left; position: relative; padding: 10px; width: 80px; height: 80px; overflow: hidden; border-right: 1px solid #A6A6A6; }
.ucenter-content-sch dt a { display: block;  background-color: #3b3b3b;}
.ucenter-content-sch dt a img { width: 80px; height: 80px; }
.ucenter-content-sch dd p { margin: 0; padding: 18px 0 0 100px; }
.ucenter-content-sch dd p a { margin-right: 15px; }

.ucenter-sch-info { margin: 0; margin-left: 100px; padding: 10px 10px 0; border-bottom: 1px solid #c8c8c8;}
.ucenter-sch-info h4 { margin: 0; height: 30px; line-height: 20px; }
.ucenter-sch-info h4 a { color: #575757; text-decoration: none; text-shadow: 1px 1px 1px #ccc; font: normal 14px Microsoft YaHei; }

.ucenter-sch-nav { position: absolute; right: 10px; bottom: 7px; margin: 0; border: 1px solid #ccc; border-radius: 3px; background-image: -webkit-linear-gradient(top, #fff, #fafafa, #f4f4f4);  }
.ucenter-sch-nav li { float: left; width: 72px; border-right: 1px solid #ccc; }
.ucenter-sch-nav li:last-child { border: none;}
.ucenter-sch-nav li:hover { background: #fff; }
.ucenter-sch-nav li a { display: block; padding-top: 12px; /*width: 72px;*/ height: 30px; text-align: center; font-family: Microsoft YaHei; color: #747474; }

/*师生动态*/
.ucenter-content-feeds { padding: 1%;}
.ucenter-feeds-list { margin: 0; padding: 2%; background-color: #f0f4f7; border-top-left-radius: 5px; border-top-right-radius: 5px;  box-shadow: inset 0 1px 5px #999; }
.ucenter-feeds-list>li { display: -webkit-box; margin-top: 32px; }
.ucenter-feeds-list>li:first-child { margin-top: 0;}
.ucenter-feeds-list a { color: #195695; font-weight: bold;}
.ucenter-feeds-avatar { /*float: left;*/ margin-right: 28px;}
/*控制feed头像大小*/
.ucenter-feeds-avatar img, a.comment-avatar img { width:48px; height:48px; border:4px solid #fff;}
.ucenter-feeds-con { /*display: table-cell;*/position: relative; -webkit-box-flex:1; margin: 0;  border: 1px solid #b6b6b6; border-radius: 5px; background-color: #fff; /*box-shadow: 1px 1px 2px #999; */ box-shadow: 1px 1px 2px #BBB;}

.ucenter-feeds-con:after { /*content: ''; display: inline-block; border-left: 11px solid transparent; border-right: 11px solid transparent; border-bottom: 11px solid black; position: absolute; top: -11px; left: 68px; */}
.ucenter-feeds-arrow { display: block; position: absolute; top: 16px; left: -19px; width: 19px; height: 20px; background: url(../images/icon-feeds.png) -142px 0;}
.ucenter-feeds-con dd { margin: 0; }
.ucenter-feeds-overview { position: relative; padding: 0 10px; height: 46px; line-height: 46px; border-bottom: 1px solid #d3d3d3; font-weight: bold;}
.ucenter-feeds-overview a, .ucenter-feeds-overview span {padding: 0 5px;}
.ucenter-feeds-wrap { display: -webkit-box;}
.ucenter-feeds-cpic { /*float: left; padding: 10px; display: table-row-group; */}
.ucenter-feeds-cpic a { display: table-cell; padding: 0 15px; height: 140px; vertical-align: middle;}
.ucenter-feeds-cpic img { vertical-align: middle; }
.ucenter-feeds-wrap-in { -webkit-box-flex:1; border-left: 1px solid #d3d3d3;}
.ucenter-feeds-detail { /*display: table-cell; position: relative;*/ min-height: 65px; padding: 15px 15px 10px; border-bottom: 1px solid #d3d3d3; }
.ucenter-feeds-detail p { margin: 0; color: #797979;}
.ucenter-feeds-detail .btn { /*position: absolute; right: 2%; top: 20px;*/ float: right; padding: 19px 7px 19px 27px;/*width: 73px; height: 38px; line-height: 38px;*/ font: bold 14px Microsoft YaHei; color: #797979;}
.ucenter-feeds-detail .btn .is-icon { padding: 5px 0 5px 20px; background: url(../images/icon-feeds.png) -135px -26px; color: #747474;}
.ucenter-feeds-attach { float: left; margin-right: 15px; width: 60px; height: 71px; background: url(../images/icon-feeds.png);}
.ucenter-feeds-attach:hover { background: url(../images/icon-feeds.png) -71px 0;}
.ucenter-feeds-extras{ padding: 0 15px; height: 46px; line-height: 46px; /*display: table;*/ }
.ucenter-feeds-extras-sub { height: 46px; line-height: 46px; }
.ucenter-feeds-extras-sub span:first-child { border: none; }
.ucenter-feeds-liked { padding-left: 25px; background: url(../images/icon-feeds.png) 0 -434px no-repeat; font-weight: bold; cursor: pointer;}
.ucenter-feeds-liked.liked { background-position: -71px -434px; cursor: default; }
.ucenter-feeds-time { float: right;/* display: block; height: 17px; line-height: 17px;*/ padding-left: 25px; background: url(../images/icon-feeds.png) 0 -465px no-repeat;}


.ucenter-feeds-icon { position: absolute; right: 10px; top:11px; display: block; width: 23px; height: 23px; background: url(../images/icon.png) no-repeat;}
.ucenter-feeds-data-video .ucenter-feeds-icon, .ucenter-feeds-data-text .ucenter-feeds-icon, .ucenter-feeds-data-ppt .ucenter-feeds-icon ,.ucenter-feeds-data-pdf .ucenter-feeds-icon { background-position: -425px -8px;}


.ucenter-feeds-data-text .ucenter-feeds-attach { background: url(../images/icon-feeds.png) 0 -71px no-repeat; }
.ucenter-feeds-data-text .ucenter-feeds-attach:hover { background: url(../images/icon-feeds.png) -71px -71px no-repeat; }

.ucenter-feeds-data-ppt .ucenter-feeds-attach { background: url(../images/icon-feeds.png) 0 -142px no-repeat; }
.ucenter-feeds-data-ppt .ucenter-feeds-attach:hover { background: url(../images/icon-feeds.png) -71px -142px no-repeat; }

.ucenter-feeds-data-pdf .ucenter-feeds-attach { background: url(../images/icon-feeds.png) 0 -213px no-repeat; }
.ucenter-feeds-data-pdf .ucenter-feeds-attach:hover { background: url(../images/icon-feeds.png) -71px -213px no-repeat; }

.ucenter-feeds-video .ucenter-feeds-attach { background: url(../images/icon-feeds.png) 0 -284px no-repeat; }
.ucenter-feeds-video-over .ucenter-feeds-attach { background: url(../images/icon-feeds.png) -71px -284px no-repeat; }
.ucenter-feeds-video-over .over { color: #da0000;}
.ucenter-feeds-task .ucenter-feeds-attach { background: url(../images/icon-feeds.png) 0 -358px no-repeat; }
.ucenter-feeds-note .ucenter-feeds-attach { background: url(../images/icon-feeds.png) -71px -358px no-repeat; }


.ucenter-feeds-video .ucenter-feeds-icon { background-position: -224px -8px;}
.ucenter-feeds-video-over .ucenter-feeds-icon { background-position: -224px -8px;}
.ucenter-feeds-task .ucenter-feeds-icon { background-position: -155px -8px;}
.ucenter-feeds-note .ucenter-feeds-icon { background-position: -295px -8px;}
.ucenter-feeds-ask .ucenter-feeds-icon { background-position: -85px -9px;}

.ucenter-feeds-course .ucenter-feeds-icon { background-position: -12px -8px;}
.ucenter-feeds-course .ucenter-feeds-detail { padding: 15px 15px 10px 25px;}
.ucenter-feeds-course .ucenter-feeds-detail p { line-height: 24px; }
.ucenter-feeds-course .ucenter-feeds-detail p a { margin-left: 10px;}
.ucenter-feeds-course .ucenter-feeds-detail p span:last-child { margin-left: 10px;}
.ucenter-feeds-course .course-rating span { margin-right: 10px;}

p.ucenter-feeds-img { margin: 15px 0 0; overflow: hidden; }
p.ucenter-feeds-img img { margin-right: 8px; }
.ufeeds-detail-foldarea { margin-bottom: 10px; height: 40px; overflow: hidden; }

.ufeeds-answer, .ufeeds-addask { position: relative; margin: 0 20px; margin: 0 0 0 20px; padding: 0 20px; border-left: 1px solid #e8e8e8; cursor: pointer; }
.ufeeds-addask { margin: 0;}
.ufeeds-answer em, .ufeeds-addask em { margin-left: 5px; font-weight: bold; }
.ufeeds-answer .question-arrow, .ufeeds-addask .question-arrow { display: block; width: 18px; height: 10px; position: absolute; left: 32px; bottom: -22px; background: url(../images/icon-feeds.png) -160px -36px no-repeat;}

.ucenter-feeds-unfold { cursor: pointer; color: #195695; /*background: url(../images/icon-feeds.png) no-repeat; */}
.ucenter-feeds-fold{ cursor: pointer; color: #195695; }

.ucenter-feeds-ask .ufeeds-answer { margin-left: 0; border: none; }

.ucenter-feeds-extras-sub .question-arrow { bottom: -19px; }
/*评论分页*/
.ufeeds-pagination-wrap {display: -webkit-box; padding: 0 2% 2%; }
.ufeeds-pagination-padding { width:40px; margin-right:20px; }
.ufeeds-pagination-in { -webkit-box-flex:1;}
.ufeeds-pagination-wrap .pagination { margin: 0;}

/*loadMore*/
.ucenter-feeds-load { text-align: center; height: 60px; line-height: 60px; border: 1px solid #d5dde8; border-top: 1px solid #c8d0d8; background-image: -webkit-linear-gradient(top, #fff, #f8f9fb, #eff1f5); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; box-shadow:inset 0 -1px 4px #ccc; }
.ucenter-feeds-load a { display: block; color: #8999aa; text-decoration: none;}
.ucenter-feeds-load .is-icon {padding: 5px 0 5px 20px; background: url(../images/icon-feeds.png) -138px -132px; color: #747474; }

