a.view-back { position: absolute; top: 15px; left: 15px; padding-left: 30px; color: #fff; text-decoration: none; background: url(../images/bg-cview.png) -120px -70px no-repeat;}
a.view-back:hover { background-position: -120px -105px; }
.view-con { position: relative; padding:50px 18px 20px; background: url(../images/bg-course-view.jpg); /*height: 100%;*/ box-shadow: 2px 0 1px #000;}
.view-con:before { content: ' '; display: block; position: absolute; left:177px; top: 0; width: 4px; height: 2000px; background: url(../images/bg-cview-line.png) repeat-y; }

.view-main { margin: 15px 0; width: auto; /*height: 550px;*/ background-color: #212121; position: relative; box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), inset -1px -1px 2px rgba(0,0,0,0.4); /*padding: 5px;*/ padding: 2px; }
.view-main-text { padding: 40px 10% 0; height: -webkit-calc(100% - 40px); background-color: #fff; font-size: 13px; overflow-y: auto; }
.view-main-text p { margin: 0; text-indent: 2em; margin-bottom: 2px;}

.view-heading { height: 30px; line-height: 30px; }
.view-heading h4 { display: inline-block; margin: 0 10px 0 0; color: #fff; font-family: Microsoft Yahei; text-shadow: 1px 1px 2px #000;}
.view-heading .btn-icon { top: 6px; }


#view-course .view-con-switch { margin-top: 8px; }
#btn-video-info { background-position: -18px 0;}
/*边栏*/
.view-sidebar { position: relative; right: 10px; margin: 10px 0; /*padding: 10px 10px 10px 0;*/  background-color: #fff; border-radius: 4px; }
/*.view-sidebar.span4 { width: 325px;}
.row-fluid .span8 { width: 65%;}*/
