a.view-back { position: absolute; top: 15px; left: 15px; padding-left: 30px; color: #fff; text-decoration: none; background: url(../images/bg-cview.png) -120px -70px no-repeat;}
a.view-back:hover { background-position: -120px -105px; }
.view-con { position: relative; padding:50px 18px 20px; background: url(../images/bg-course-view.jpg); /*height: 100%;*/ box-shadow: 2px 0 1px #000;}
.view-con:before { content: ' '; display: block; position: absolute; left:177px; top: 0; width: 4px; height: 2000px; background: url(../images/bg-cview-line.png) repeat-y; }
#view-video-classroom .view-con { padding-top: 58px; }
#view-video-classroom .view-con:before { display: none; }

.view-main { margin: 15px 0; width: auto; /*height: 550px;*/ background-color: #212121; position: relative; box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), inset -1px -1px 2px rgba(0,0,0,0.4);}

.view-heading { height: 30px; line-height: 30px; }
.view-heading h4 { display: inline-block; margin: 0 10px 0 0; color: #fff; font-family: Microsoft Yahei; text-shadow: 1px 1px 2px #000;}
.view-heading .btn-icon { top: 6px; }

.view-con-switch { float: right; margin-left: 0; }
.view-con-switch li { float: left; margin: 10px 0 0 5px; padding: 0; width: 18px; height: 18px; background: url(../images/bg-cview.png) -71px -53px no-repeat; cursor: pointer;}
.view-con-switch li.cur { background-position: -88px -53px;}
#view-course .view-con-switch { margin-top: 8px; }
#btn-video-info { background-position: -18px 0;}
/*边栏*/
.view-sidebar { padding: 10px 10px 10px 0; }


/*视频面授*/
.board-switch { display: block; float: right; margin: 6px 2px 0 0; width: 36px; height: 23px; line-height: 23px; background-color: rgba(0,0,0,0.2); text-align: center; border-radius: 3px; cursor: pointer; box-shadow: inset 1px 1px 6px rgba(0,0,0,0.4),1px 1px 1px rgba(255,255,255,0.1);}
.video-gallery { /*position: absolute; top:100%; margin-top: -170px; width: 100%;*/}
.video-gallery { position: relative; }
.gallery-switch { padding-top: 8px;  height: 20px; text-align: center; background: url(../images/bg-course-view.jpg); cursor: pointer; box-shadow: 0 -1px 1px rgba(255,255,255,0.3),0 1px 1px #000; }
.gallery-switch:hover span { opacity: 0.7;}
.gallery-switch span { display: block; margin: 0 auto; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #6e6e6e; }
.gallery-prev, .gallery-next { position: absolute; top: 50%; margin-top: -55px; width: 75px; height: 75px; border-radius: 4px; background-color: rgba(0,0,0,0.5); cursor: pointer;}
.gallery-prev { left:5%; }
.gallery-next { right: 5%; }
.gallery-prev span, .gallery-next span { display: block; margin: 0 auto; border-top: 20px solid transparent; border-bottom: 20px solid transparent; position: absolute; top: 50%; margin-top: -20px;}
.gallery-prev span { border-right: 20px solid #6e6e6e; left: 50%; margin-left: -15px; }
.gallery-next span { border-left: 20px solid #6e6e6e; right: 50%; margin-right: -15px;   }
.gallery-prev:hover, .gallery-next:hover { background-color: rgba(0,0,0,0.7);} 
.gallery-prev:hover span, .gallery-next:hover span { opacity: 0.6;} 

.video-gallery ul { margin: 0; background-color: #212121; box-shadow: 0 -1px 1px rgba(255,255,255,0.2), inset 0 1px 8px rgba(0,0,0,0.6), 0 1px 1px #000; text-align: center; }
.video-gallery ul li { display: inline-block; margin: 15px 5px 10px; /*width: 229px; height: 172px;*/ width: 160px; height: 110px; background-color: #1c1c1c; box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), inset -1px -1px 2px rgba(0,0,0,0.4), 0 1px 1px rgba(255,255,255,0.1) ;}
